<% content_for :sidebar do -%>
<% form_remote_tag(:url => pms_patients_url, :method => :get, :id => "search_form") do %>
   
      
      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
         <p> <label> Patient name: </label> <%= p.text_field :patient_name_like, :class => 'textbox' %> </p>
         <p> <label> Registration No:</label><%= p.text_field :reg_no_like, :class => 'textbox' %></p>
         <p> <label> Registration Date:</label><%= p.text_field :reg_date_like , :class =>'textbox',:id => "datepicker" %></p>
         <p> <label> Phone No:</label><%= p.text_field :contact_no_like, :class => 'textbox' %></p>
         <p> <label>  Registered? </label><%= p.select :reg_no_is_nil , {'Registered'=> false, 'Unregistered'=> true}, options ={:prompt => "  All "} %> </p>
           
        <%end%>
      <%end%>


 
   <p><input type="reset" value="Reset">&nbsp;&nbsp;  <%= submit_tag "Search" %> </p>
<% end %>

<%end%>
