<% content_for :header do -%>
   Registration for individual
<%end-%>


<table class="form-table">

   <tr class= 'table-top'><td colspan='2'><lable> Patient detail </label></td></tr>
   <tr><th><%= f.label :registration_date %></th>
       <td><%= f.date_select :reg_date,:disabled =>true %></td>
   </tr>
<input type="hidden" id="partial" name="partial" value="individual" />
   <tr><th><%= f.label :patient_name %></th>
       <td><%= f.text_field :patient_name, {:class => 'textbox'} %></td>
   </tr>

   <tr><th><label> DOB</label></th>
      <td><%= f.date_select :dob, :start_year => 1950, :default => {:year => Time.now.year - 30} %></td>
   </tr>

   <tr><th><%= f.label :gender %></th>
      <td><%= f.select :gender, {'Female' => 'female', 'Male' => 'male'} %></td>
   </tr>


   <tr><th><%= f.label :spouse_name %></th>
       <td><%= f.text_field :spouse_name, {:class => 'textbox'} %></td>
   </tr>

    <tr><th><%= f.label :email %></th>
       <td><%= f.text_field :email, {:class => 'textbox'} %></td>
   </tr>

   <tr><th><%= f.label :contact_no %></th>
       <td><%= f.text_field :contact_no, {:class => 'textbox'} %></td>
   </tr>

   <tr><th><%= f.label :address %></th>
       <td><%= f.text_field :address, {:class => 'address'} %></td>
   </tr>



   <tr><th><label>Referal type: </lable></th>
       <td><%= radio_button_tag ('ref_type', 'd', checked = false) %> Doctor
           <%= radio_button_tag ('ref_type', 's', checked = true) %> Self
           <%= radio_button_tag ('ref_type', 'o', checked = false) %> Others
       </td>
   </tr>

</table>

