<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

<table class="listing">
  <tr>
    <th></th>
    <th><%= remote_order_by_link  (:reg_no , :text => "Reg.No" )%></th>
    <th><%= remote_order_by_link (:reg_date ,:text => "Reg.Date") %></th>
    <th><%= remote_order_by_link (:patient_name , :text => "Patient Name") %></th>
    <th>Age</th>
    <th>Contact No</th>
    <th>Spouse Name</th>
    <th>Appointments</th>
    <th>Actions</th>
  </tr>

<% for patient in @patients %>
  <tr class="<%= cycle('odd', 'even') %>">
 <td class='radio-column'><%=radio_button_tag ('patient', patient.id, checked = false, options = {:onclick => "$('main_form').patient_id.value=#{patient.id};"})%></td>
   
    <td><%= patient.reg_no.blank? ? link_to('Register', edit_pms_patient_url(patient)) : patient.reg_no %> </td>
    <td><%=h Time.parse(patient.reg_date.to_s).strftime('%d-%m-%y') %></td>
    <td><%=h patient.patient_name %></td>
    <td><%=h calculate_age(patient.dob) %></td>
    <td><%=h patient.contact_no %></td>
    <td><%=h patient.spouse_name %></td>
    <td><%= link_to 'Appointments', pms_patient_patient_appointments_url(patient), :rel=> "facebox" %></td>
    <td>&nbsp;&nbsp; <%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), pms_patient_url(patient), :rel=> "facebox" %> &nbsp;&nbsp;| &nbsp;&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_pms_patient_url(patient) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to image_tag('delete.png', {:title => 'delete', :border => 0}), pms_patient_url(patient), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<table class='table-bottom'>
  <tr class="table-footer">
      <td colspan = 3><%= link_to "<span>Create New Patient Record</span>", new_pms_patient_url, :class=> "button" %></td>
      <td colspan = 1>
      <% form_tag(new_pms_appointment_path, :id => 'main_form') do -%>
         <input id="patient_id" name="patient_id" type="hidden" value=""/>
         <a class="button" onclick="$(this).up('form').submit(); return false;"><span>Create Appointment</span></a>
         
      <%end%>

       </td>
        <td colspan = 1> <%= remote_per_page_select %></td>
        <td colspan = 2>  <% form_tag(pms_patients_url, :method => :get, :id => "goto") do %>
                                        <% fields_for @search do |f|%>
                                          <%= f.text_field :page, :class => 'textbox-tiny' %>

                                       <%end -%>
                                     <%end-%>


        </td>
      <td colspan = 5> <% if @patients.size > 1 %>
                          <div class="pagination">
                                <%= remote_page_links %>
                          </div>
  <% end %></td>
  </tr>
</table>
<%= observe_form("goto", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => pms_patients_url, :method => :get) %>
