<table class="listing">
  <% unless @prescribed_lab_tests.blank? %>
  <tr><th>Presc. Doctor</th>
      <th>Presc. Date</th>
      <th>Service </th>
      <th>Qty </th>
      <th>Follow-up Date </th>
      <th>Remarks </th>
      <th>Delete</th>
  </tr>
 
  <% for test in @prescribed_lab_tests %>
        <tr><td> <%= @appointment.doctor.doctor_profile.name %> </td>
            <td> <%= @prescription.p_date %> </td>
            <td> <%= test.service.name %> </td>
            <td> <%= @prescription.quantity %> </td>
            <td> <%= @prescription.follow_up %> </td>
            <td> <%= @prescription.remarks %> </td>
            <td> <%= link_to "Delete",laboratory_prescribed_test_path(test.id), :confirm => 'Are you sure?', :method => :delete%>  </td>
        </tr>
  <%end%>
 <%end%>
</table>
