<h3>Sample List</h3> <br/>
<table class="listing">
  <tr>
    <th><%= remote_order_by_link(:sample_name,:text =>"Sample Name") %></th>
    <th><%= remote_order_by_link(:description,:text =>"Description") %></th>
    <th><%= remote_order_by_link(:used_in_diagnosis_of,:text =>"Used In Diagnosis Of") %></th>
    <th>Show</th>
    <th>Modify</th>
    <th>Delete</th>
  </tr>
<% for sample in @samples %>
  <tr>
    <td><%=h sample.sample_name %></td>
    <td><%=h sample.description %></td>
    <td><%=h sample.used_in_diagnosis_of %></td>
    <td><%= link_to 'Show', sample , :rel=> "facebox"%></td>
    <td><%= link_to 'Modify', edit_sample_path(sample) %></td>
    <td><%= link_to 'Delete', sample, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
<tr class="table-footer">
  	<td colspan = 1><%= link_to "<span>New Sample</span>", new_sample_path(), :class=> "button" %></td>
        <td colspan = 1><%= remote_per_page_select %></td>
        <td colspan = 1>
         <% form_tag(samples_url, :method => :get, :id => "goto") do %>
             <% fields_for @search do |f|%>
                     <%= f.text_field :page, :class => 'textbox-tiny' %></td>
             <%end%>
         <%end%>


        </td>
         <td colspan = 3> <% unless @samples.blank? %>
                             <div class="pagination">
                                <%= remote_page_links %>
                             </div>
                           <% end %>
         </td>
  </tr>



<%= observe_form("goto", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => samples_url, :method => :get) %>
<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %>




</table>

<br />
