<ul id="collapse-section">
   <li>
      <a href="#"> Diagnosis & Prescription(Current Visit) <%=image_tag('arrow_down.png', :border => 0) %></a>
      <ul>
        <br />
        <% for department in @departments %>
           <li><%= link_to_remote("#{department.dept_name} Prescription", 
                                   :before => "Element.show('spinner')",
                                   :success => "Element.hide('spinner')",
                                   :url => { :controller => :prescriptions, :action => :new },
                                   :with => "'department=' + #{department.id} + '&appointment=' + #{@appointment.id}") %></li>
        <% end %>
      </ul>
   </li>
   <br />
   <li>
       <a href="#"> Reports About Investigations (Current Visit) <%=image_tag('arrow_down.png', :border => 0) %></a>
       <ul>
           <br />
	   <li><%= link_to "Departments", departments_url %></li>
           <li><%= link_to "Doctors", doctors_path %></li>
	   <li><%= link_to "Reasons", select_options_url(:type => 'Reason') %></li>
       </ul>
    </li>
    <br />
    <li>
        <a href="#"> References <%=image_tag('arrow_down.png', :border => 0) %></a>
	<ul>
            <br />
	    <li><%= link_to "BNF(British National Formulary)", departments_url %></li>
	    <li><%= link_to "Alerts", departments_url %></li>
	    <li><%= link_to "Registration Summary", departments_url %></li>
	    <li><%= link_to "EMR(Patient History)", departments_url %></li>
	    <li><%= link_to "EMR(Patient History)", departments_url %></li>
	</ul>
    </li>
</ul>

