<% remote_form_for( @prescription) do |f| %>
  <%= f.error_messages %>
    <br />
    <table class = 'form-table'>
       <tr><th>Prescription To: </th> <td> <%= @department.dept_name %> </td>
           <th>Prescribing Doctor:</th> <td> <%= @appointment.doctor.name %> </td></tr>
       <tr><th>Prescription Date:</th> <td><%= calendar_date_select_tag "prescription[p_date]", '' , :class =>'textbox' %></td>
           <th>Prescription Time:</th> <td><%= time_select("prescription", "p_time")  %></td></tr>
       <tr><th>Service:</th> <td> <div id='prescription'> <ul class='treeview'><%= render :partial => 'child_list', :collection => @child_list, :as => :service %> </ul> </div> </td></tr>
       <tr><th>Urgency:</th> <td> <%= f.select :urgency, ['High', 'Medium', 'Low'], :selected =>'High' %> </td> 
       <th>Follow up Before:</th> <td><%= calendar_date_select_tag "prescription[follow_up]", '' , :class =>'textbox' %></td></tr>
       <tr><th>Other Remarks:</th> <td><%= f.text_field :remarks %></td><td><%= f.submit "Prescribe" %></td> </tr>
    </table> 
    <input type="hidden" name="prescription[department_id]" value= <%= params[:department] %>>
    <input type="hidden" name="prescription[appointment_id]" value= <%=  params[:appointment] %>>

<% end %>
<br />
<div id = 'prescription-list'><%= render :partial => 'prescreptions', :locals => {:prescriptions => @prescription_list} %> </div>

