<table class="listing">
  <tr><th>Presc. Doctor</th>
      <th>Presc. Date</th>
      <th>Service </th>
      <th>Qty </th>
      <th>Follow-up Date </th>
      <th>Remarks </th>
  </tr>
 <% unless @prescribed_tests.blank? %>
  <% for test in @prescribed_tests %>
        <tr><td> <%= @appointment.doctor.name %> </td>
            <td> <%= @prescription.p_date %> </td>
            <td> <%= test.service.name %> </td>
            <td> <%= @prescription.quantity %> </td>
            <td> <%= @prescription.follow_up %> </td>
            <td> <%= @prescription.remarks %> </td>
        </tr>
  <%end%>
 <%end%>

