<div id='pharmacy_prescription-new'>
<% remote_form_for(:pharmacy_prescription ,:url =>cms_appointment_pharmacy_prescriptions_url(:appointment_id => @appointment.id) , :html => { :method => :post }) do |f| %>
  <%= f.error_messages %>

   <table class="form-table">
      <tr> <td colspan="2"> <%= link_to "Back" , new_cms_appointment_clinical_screen_path(@appointment.id) %> &nbsp; | &nbsp;
          <% if doctor? or admin? -%>
	     <%= link_to "Patient List",  cms_doctor_patients_url(current_user.id)  %> &nbsp; | &nbsp;
	  <% end %>
          <%= link_to "Cancel" , new_cms_appointment_clinical_screen_path(@appointment.id) %> </td></tr>
    </table>
    <table class="form-table">

     <tr style ='display:none'><th > Prescribing Date: </th><td><%= calendar_date_select_tag "pharmacy_prescription[prescribing_date]" ,Date.today, :class =>'textbox' %> </td> </tr>

     <tr><th>Select Item:</th><td> <%= f.collection_select :pharamacy_item_information_id, PharamacyItemInformation.pharamacy_item_information_list, :id, :item_name, options ={:prompt => "-Select an Item"} %>
 <%= image_tag("spinner.gif",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %> </td>  

      <th>Frequency:</th><td>
     <%= f.collection_select :pharmacy_dosage_list_id, PharmacyDosageList.pharamacy_dosage_lists, :id ,:dosage_type_name, options ={:prompt => "-Select dosage type"}%>
      </td> </tr>

       <tr><th>Quantity </th><td> <%= f.text_field :quantity,:class =>'textbox-tiny' %></td> 
            <th>Course duration:</th><td> <%= f.text_field :course_duration, :class =>'textbox-tiny' %></td> 
       </tr>

       <tr><th>Course start date:</th><td><%= f.calendar_date_select :course_start_date , :class =>'textbox-small' %> </td>
            <th>Course end date:</th><td><%= f.calendar_date_select :course_end_date , :class =>'textbox-small' %> </td> 
       </tr>
    
     <tr><th>Route:</th><td> <%= f.collection_select :pharmacy_course_list_id, PharmacyCourseList.pharamacy_course_lists ,:id ,:course_type_name ,options = { :prompt =>"-Select course type" }%> </td> 
      <th>Time of prescription:</th><td><%= f.time_select :time_of_prescription %> </td> </tr>
     
     
     <tr><th>Other Remark:</th><td colaspan ='3'><%= f.text_area :other_remarks ,:class =>'textbox'%> </td> </tr>

</table>
  <br />
  <%= f.submit 'Prescribe' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="reset" value="Reset">

<% end %>

<br/>
<div id = 'pharmacy_prescription-list'> <%= render :partial => '/cms/pharmacy_prescriptions/prescreptions'%> </div>



   <%= observe_field(:pharmacy_prescription_pharamacy_item_information_id, :frequency =>0.6,
                 :before => "Element.show('spinner1')",
                 :success => "Element.hide('spinner1')",
                 :url => { :action=>'pharamacy_item_detail' },
                 :method => :get,
                 :with => "'pharamacy_item_information_id=' + value") %>
</div>

 <script type="text/javascript">
         jQuery(document).ready(function(){
         jQuery("#pharmacy_prescription_course_start_date").datepicker({ altField: '#date', altFormat: 'dd MM, yy' })
         jQuery("#pharmacy_prescription_course_end_date").datepicker({ altField: '#date', altFormat: 'dd MM, yy' })
});
      
   </script>

