<div class='continer'><br/>
<% unless @pharmacy_prescriptions.blank? %>
<table class="listing">
  <tr>
     <th> Item Name </th>
     <th> Dosage type </th>
     <th> Course type</th>
     <th> Prescribing date time</th>
     <th> Course duration </th>

     <th> Start date</th>
     <th> End date </th>
     <th> Quantity</th>
     <th> Delete </th>
 </tr>
 <% @pharmacy_prescriptions.each do |pharmacy_prescription| %>
  <tr>
    <td> <%=h pharmacy_prescription.inventory_item.name %></td>
    <td> <%=h pharmacy_prescription.pharmacy_dosage_list.dosage_type_name %></td>
    <td> <%=h pharmacy_prescription.pharmacy_course_list.course_type_name %></td>
    <td> <%=h pharmacy_prescription.prescribing_date%> - <%= Time.parse(pharmacy_prescription.time_of_prescription.to_s).strftime('%H:%M').to_s  %></td>
    <td><%=h pharmacy_prescription.course_duration%></td>
    <td> <%=h pharmacy_prescription.course_start_date%></td>
    <td> <%=h pharmacy_prescription.course_end_date%></td>
    <td> <%=h pharmacy_prescription.quantity %></td>


 <td>

<%= link_to_remote "Delete ",
                           :url => { :controller => '/cms/pharmacy_prescriptions',:action => "destroy", },
                           :before => "Element.show('spinner')",
                           :success => "Element.hide('spinner')",
                           :confirm => 'Are you sure?',

                           :with => "'appointment_id='+ #{@appointment.id}+'&id='+#{pharmacy_prescription.id}"

                             %>
    </td>
  </tr>
<% end %>
</table>
<%else%>
<table class="listing">
  <tr>
     <th> Item Name </th>
     <th> Dosage type </th>
     <th> Course type</th>
     <th> Prescribing date time</th>
     <th> Course duration </th>

     <th> Start date</th>
     <th> End date </th>
     <th> Quantity</th>
     <th> Delete </th>
 </tr>
 </table>
<br/>
  No prescriptions yet
  <br/>
<%end%>

</div>
