<div class='continer'>

<h3>Listing Pharmacy Prescriptions</h3>
<% unless @pharmacy_prescriptions.blank? %>
<table class="listing">
  <tr>
     <th> Item Name </th>
     <th> Dosage Type </th>
     <th> Course type</th>
     <th> Prescribing Date Time</th>
     <th> Course Duration </th>

     <th> Course Start Date</th>
     <th> Course End Date </th>
     <th> Quantity</th>
     <th> Other Remark</th>
     <th> Show | Edit | Delete </th>
 </tr>
 <% @pharmacy_prescriptions.each do |pharmacy_prescription| %>
  <tr>
    <td> <%=h pharmacy_prescription.pharamacy_item_information.item_name %></td>
    <td> <%=h pharmacy_prescription.pharmacy_dosage_list.dosage_type_name %></td>
    <td> <%=h pharmacy_prescription.pharmacy_course_list.course_type_name %></td>
    <td> <%=h pharmacy_prescription.prescribing_date%> - <%= Time.parse(pharmacy_prescription.time_of_prescription.to_s).strftime('%H:%M').to_s  %></td>
    <td><%=h pharmacy_prescription.course_duration%></td>
    <td> <%=h pharmacy_prescription.course_start_date%></td>
    <td> <%=h pharmacy_prescription.course_end_date%></td>
    <td> <%=h pharmacy_prescription.quantity %></td>
    <td> <%=h pharmacy_prescription.other_remarks %></td>



    <td><%= link_to 'Show', cms_appointment_pharmacy_prescription_path(:appointment_id =>@appointment,:id => pharmacy_prescription) %>|<%= link_to 'Edit', edit_cms_appointment_pharmacy_prescription_path(:id => pharmacy_prescription,:appointment_id =>@appointment) %> | <%= link_to 'Destroy', cms_appointment_pharmacy_prescription_path(:id=>pharmacy_prescription,:appointment_id =>@appointment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%else%>
<table class="listing">
  <tr>
     <th> Item Name </th>
     <th> Dosage Type </th>
     <th> Course type</th>
     <th> Prescribing Date Time</th>
     <th> Course Duration </th>

     <th> Course Start Date</th>
     <th> Course End Date </th>
     <th> Quantity</th>
     <th> Other Remark</th>
     <th> Show | Edit | Delete </th>
 </tr>
 </table>
<br/>
  No Record created yet
  <br/>
<%end%>

<br/>

<%= link_to '<span>New Pharmacy Prescription</span>', new_cms_appointment_pharmacy_prescription_path ,:class =>"button" %>
<br/><br/>
<%= link_to "Clinical Screen" ,new_cms_appointment_clinical_screen_path(:appointment_id => @appointment)%>
</div>
