<!-- Ajax search result indicator -->
<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

<table class="time-slots" cellspacing="1">
     <%unless @doctor.blank? %>
       <% dt1 = Time.parse(@doctor.working_from.to_s) %>
       <% appoitments_hash = appointments(@doctor, @date) %>
       <% iteration_count(@doctor).times do%>

         <% slot = "#{(dt1.strftime('%H:%M').to_s)}" %>
         <% if appoitments_hash.key?(slot) %>
            <tr class="appointment"><td>
               <%= link_to "#{(dt1.strftime('%H:%M').to_s)} - #{(dt1 = dt1 + 5.minutes).strftime('%H:%M').to_s}", pms_appointment_url(appoitments_hash[slot]), :rel=> "facebox" %>
               <td><%= link_to appoitments_hash[slot].patient.patient_name, pms_patient_url(appoitments_hash[slot].patient), :rel=> "facebox" %> </td>
               <td><%= appoitments_hash[slot].patient.reg_no %> </td>
            </tr>
         <% else %>
            <tr><td class="available">
                <%= link_to_function("#{(dt1.strftime('%H:%M').to_s)} - #{(dt1 = dt1 + 5.minutes).strftime('%H:%M').to_s}", "setTime('#{slot}')") %></td>
            <td class="available-new"> &nbsp; </td>
            <td class="available-new"> &nbsp; </td>
            </tr>
          <% end %>

       <%end%>
     <%end%>
</table>

<script type="text/javascript">
  function setTime(time){
      hour = time.substring(0,2)
	  minute = time.substr(3,2)
	  $("appointment_hour").value = parseInt(hour * 1)
	  $("appointment_minute").value = parseInt(minute * 1)
    }
  var facebox = new Facebox();
</script>
