<div id="calendar-display">
  <%= calendar_date_select_tag "date", Date.today, :embedded => true, :year_range => 100 %>
</div>


<div id="new-department">

  <table cellpadding="5px" class="form-table">
     <tr class= 'table-top'> <td colspan='2' >Appointment Deatils:</td> </tr>
     <tr> <th><%= f.label :department %>:</th>
          <td><%= select :departament, :id, [['Select department' , '']] + Department.departments_for_select_list %> <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %></td> 
     </tr>

     <tr>
       <th><label>Doctor:</label></th>
       <td>
           <div id="doctors">
              <%=render :partial => 'doctors_list', :locals => {:f => f, :doctors => doctors_list} %>
           </div>
       </td> 
     </tr>

     <tr>
        <th> <%= f.label :appointment_time %>:</th>
        <td>
            <%= f.select :hour, hours, :selected => (@hour || 9) %> <%= f.select :minute, minutes, :selected => (@minute || 30) %>
        </td>
     </tr>

     <tr> <th><%= f.label :reason %>:</th> <td><%= f.select :reason_id, [['Select reason' , '']] + Reason.select_list %></td> </tr>

     <tr> <th><%= f.label :mode %>:</th> <td><%= f.select :mode_id, [['Select mode' , '']] + Mode.select_list %></td> </tr>

     <tr> <th><label> Visit Type</label></th>
          <td><%= radio_button_tag ('appointment[visit_type]', 
                                    'yes', 
                                    checked = params[:patient_id].blank?,
                                    options = {:onclick => "Element.show('new_patient'); Element.hide('patient_search'); Element.hide('submit-button');"}) %> first visit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= radio_button_tag ('appointment[visit_type]', 'no', checked = !params[:patient_id].blank?,
                                                   options = {:onclick => "Element.show('patient_search'); Element.hide('new_patient'); Element.show('submit-button');"}) %> follow up visit        </td>
     </tr>
  </table>
  <br />
   <p id ="submit-button" style="display:none"> <a class="button" onclick="$(this).up('form').submit(); return false;"><span>Create Appointment</span></a> </p>

 <%= observe_field(:date, :frequency => 0.5,
                    :before => "Element.show('spinner')",
                    :success => "Element.hide('spinner')",
                    :url => pms_appointments_url,
                    :method => :get,
                    :with => "'date=' + value+'&doctor=' + $('appointment_doctor_id').value"
                   ) %>

 <%= observe_field(:departament_id, :frequency => 0.5,
                    :before => "Element.show('spinner1')",
                    :success => "Element.hide('spinner1')",
                    :url => update_doctors_list_pms_appointments_url,
                    :method => :get,
                    :with => "'department_id=' + value"
                   ) %></div>
<br /><br />

<div id='new_patient'>
   <% fields_for :patient do |patient| %>
      <%=render :partial => 'new_patient', :locals => {:patient => patient} %>
   <% end %>
   <br />
    
   <a class="button" onclick="$(this).up('form').submit(); return false;"><span>Create Appointment</span></a>
   <br /> <br />
</div>

<input type="hidden" name="patient_id" value= '<%=params[:patient_id]%>'>

