<br />
<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

<% appointment_dates = Hash.new %>
<% for appointment in @appointments %>
    
    <%if appointment_dates[appointment.appointment_date].blank? %>
      <div class = 'appointment_date' >
         <%=appointment_date(appointment.appointment_date)%>
      </div> 
    <% end -%>

   <div class='appointment'>

    <div class='appointment_details left'> 

      <div class = 'appointment_time'><%=link_to(Time.parse(appointment.appointment_time.to_s).strftime('%I:%M %p').to_s, '#')%></div>

      <div class = 'other_details left'>
        <div class='more_appointment_details'>
         Appointment #<b><%=h appointment.id %></b> for doctor <b><%=h appointment.doctor.doctor_profile.name%>.</b>
        </div>
      
        <div class='more_appointment_details'>
          The reason is <b><%=h appointment.reason.name %></b> and is in status <b><%= status(appointment.state) %>.</b>
          <%= link_to('Confirm now.', confirm_pms_appointment_url(appointment, :page => params[:page]), :method => :get, :confirm => 'This action will mark this appointment as patient visited. are you sure?', :class => 'green-link') if appointment.state == 'new_appointment'%>
        </div>
    
        <div class='more_appointment_details'>
           Patient name is <%= link_to appointment.patient.patient_name, pms_patient_url(appointment.patient), :rel=> "facebox", :class => 'blue-link'%> and
           <%= appointment.patient.reg_no.blank? ? 'not yet registred' : "hospital number is <b>#{appointment.patient.reg_no}</b>"%>. <%= link_to('Register now.', edit_pms_patient_url(appointment.patient), :class => 'green-link') if appointment.patient.reg_no.blank? %>
      
        </div>  
      </div>
     </div>
    <div class = 'actions right'>
      <%= link_to 'Prev appointments', pms_patient_patient_appointments_url(appointment.patient), :rel=> "facebox", :class => 'blue-link' %> |

      <%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), pms_appointment_url(appointment), :rel=> "facebox" %> &nbsp;|&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_pms_appointment_path(appointment) %> &nbsp; |&nbsp; <%= appointment.state != 'new' ? image_tag('delete.png', {:title => 'Already visited. Not possible to cancel.', :border => 0}) : link_to(image_tag('delete.png', {:title => 'cancel appointment', :border => 0}), pms_appointment_path(appointment), :confirm => 'Are you sure?', :method => :delete) %>
    </div>
    <div class = 'clear'></div>
 </div>
  <% appointment_dates[appointment.appointment_date] = 1 %>
<% end %>



<table class='table-bottom'>
  <tr class="table-footer">
      	<td><%= remote_per_page_select -%></td>
        <td>
         <% form_tag( pms_appointments_url, :method => :get, :id => "goto") do -%>
             <% fields_for @search do |f| -%>
                     Go to page: &nbsp; <%= f.text_field :page, :class => 'textbox-tiny' -%>
             <%end -%>
         <%end -%>
        </td>

         <td> <% unless @appointments.blank? -%>
                             <div class="pagination">
                                <%= remote_page_links -%>
                             </div>
                           <% end %>
         </td>
  </tr>
</table>


<%= observe_form("goto", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url =>  pms_appointments_url, :method => :get) %>

<table class='listing-top'><tr>

           <td class='hide-for-print'>
               <%= link_to(image_tag("printer.png", :border => '0'), "javascript:print()") %> &nbsp;
               <%= link_to_function("Print this Page", "javascript:print()") %>
           </td>

           <td class='hide-for-print'>
               <%= link_to(image_tag('excel.png', :border => '0'),  pms_appointments_url(:format => "csv", :search => @params) )%> &nbsp;
               <%= link_to("Export This Page to CSV",  pms_appointments_url(:format => "csv", :search => @params) )%>
           </td>

           <td class='hide-for-print'>
               <%= link_to(image_tag("acrobat.png", :border => '0'),  pms_appointments_url(:format => "pdf", :search => @params)) %> &nbsp;
               <%= link_to("Export This Page to PDF",  pms_appointments_url(:format => "pdf", :search => @params)) %>
            </td>
         </tr>
</table>
