<div id="app_details">
  <h4 class='heading'> Enter appointment details <h4>
  <hr />
  <table cellpadding="5px" class="form-table">
     <tr> <th><%= f.label :department %></th>
          <td><%= select :departament, :id, [['Select department' , '']] + Department.departments_for_select_list %> <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %></td> 
     </tr>

     <tr id ='doctor-list'>
       <th><label>Doctor</label></th>
       <td>
           <div id="doctors">
              <%=render :partial => 'doctors_list', :locals => {:f => f, :doctors => doctors_list} %>
           </div>
       </td> 
     </tr>
      <tr><th><div class= 'app_time'><label>Appointment time </label></div></th>
          <td> <div class= 'app_time'><%= f.select :hour, hours, :selected => (@hour || 9) %> <%= f.select :minute, minutes, :selected => (@minute || 30) %> </div></td> </tr>

     <tr> <th><%= f.label :reason %></th> <td><%= f.select :reason_id,  Reason.select_list %></td> </tr>

     <tr> <th><%= f.label :mode %></th> <td><%= f.select :mode_id,  Mode.select_list %></td> </tr>

     <tr> <th><label> Visit type</label></th>
          <td><%= radio_button_tag ('appointment[visit_type]', 'yes', checked = params[:patient_id].blank?,
                    options ={:onclick => "jQuery('#new_patient').show(); jQuery('#new_patient').highlight(); jQuery('#patient_search').hide(); "})%> First visit &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <%= radio_button_tag ('appointment[visit_type]', 'no', checked = !params[:patient_id].blank?,
                    options ={:onclick => "jQuery('#patient_search').show(); jQuery('#new_patient').hide(); jQuery('#patient_search').highlight();"})%> Follow up visit        
          </td>
     </tr>
  </table>
  
<br />
<br />


<h4 class='heading'> Patient details <h4>
<hr />
<div id='new_patient'>
   <% fields_for :patient do |patient| %>
      <%=render :partial => 'new_patient', :locals => {:patient => patient} %>
   <% end %>
   <br />
</div>

<div id='patient_search' style="display:none">
   <%=render :partial => 'patient_search'%>
</div>

<%=check_box_tag 'sms'%> Sms required


<%= observe_field(:date, :frequency => 0.5,
                    :before => "jQuery('#spinner').show();",
                    :success => "jQuery('#spinner').hide();",
                    :url => new_pms_appointment_url,
                    :method => :get,
                    :with => "'date=' + value+'&doctor=' + jQuery('#appointment_doctor_id').val()"
                  ) %>

 <%= observe_field(:departament_id, :frequency => 0.5,
                    :before => "jQuery('#spinner1').show()",
                    :success => "jQuery('#spinner1').hide(); jQuery('#doctor-list').highlight();",
                    :url => update_doctors_list_pms_appointments_url,
                    :method => :get,
                    :with => "'department_id=' + value"
                  )%>

<%= observe_field(:appointment_doctor_id, :frequency => 0.5,
                    :before => "jQuery('#spinner').show();",
                    :success => "jQuery('#spinner').hide();",
                    :url => new_pms_appointment_url,
                    :method => :get,
                    :with => "'doctor=' + value +'&date=' + jQuery('#date').val()"
                  ) %> 
</div>
