<% form_tag( pms_appointments_url, :method => :get, :id => "search_form") do %>
   <table class="search-table">
     <tr>
       <th>Doctor Name:</th> <th>Appointment Date:</th>
       <th>Patient Name:</th>
        <th>Reg No:</th>
        <th> Phone No: </th>
        <th> Reset </th>
     </tr>
     <tr>
      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
        <td><%= p.select :doctor_id_like,  [['Select doctor' , '']] + Doctor.doctors_list, :class =>'select-list' %></td>
         <td><%= p.calendar_date_select :appointment_date_like, :class =>'textbox-small' %></td>

            <% p.fields_for p.object.patient do |patient| %>
              <td><%= patient.text_field :patient_name_like, :class => 'textbox-small' %></td>
             <td><%= patient.text_field :reg_no_like, :class => 'textbox-small' %></td>
             <td><%= patient.text_field :contact_no_like, :class => 'textbox-small' %></td>
         <%end%>
         <td> <input type="reset" value="Reset"> </td>

       <%end%>
       <%end%>
       </tr>
  </table>
<% end %>

<%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => pms_appointments_url, :method => :get) %>

<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
