<h3>Patient Search:  <span>(Enter atleast one search parameter:)</span> <img src="/images/search.gif" "border=0"> </h3>
<br />
<% form_remote_tag(:url =>{:action => :patient_search}, :html => {:id => 'search_form'}) do %>
   <table>
     <tr><td><%=label_tag 'Name:'%></td><td><%=label_tag 'Contact No:'%></td><td><%=label_tag 'Register No:'%></td></tr>
     <tr><td><%= text_field_tag 'name', '', {:class => 'textbox'}%></td>
         <td><%= text_field_tag 'number','', {:class => 'textbox-small'}%></td>
         <td><%= text_field_tag 'reg_num', '', {:class => 'textbox-small'}%></td>
     </tr>
   </table>
<% end %>	  
    			  	   
<div id='patient_search_results'> </div>
<br />	

<%= observe_form("search_form", :frequency => 1,
                 :before => "jQuery('#spinner').show()",
                 :success => "jQuery('#spinner').hide()",
                 :url => patient_search_pms_appointments_url, :method => :get) %>
