<h3>Patient Search:  <span>(Enter atleast one search parameter:)</span> <img src="/images/search.gif" "border=0"> </h3>
<br />



   <table>
     <tr><td><%=label_tag 'Name:'%></td><td><%=label_tag 'Contact No:'%></td><td><%=label_tag 'Register No:'%></td></tr>
     <tr><td><%= text_field_tag 'name', '', {:class => 'textbox'}%></td>
         <td><%= text_field_tag 'number','', {:class => 'textbox-small'}%></td>
         <td><%= text_field_tag 'reg_num', '', {:class => 'textbox-small'}%></td>
     </tr>
   </table>


                  	   
<div id='patient_search_results'> </div>
<br />	


<%= observe_field(:name, :frequency => 0.5,
                    :before => "jQuery('#spinner').show();",
                    :success => "jQuery('#spinner').hide();",
                    :url => patient_search_pms_appointments_url,
                    :method => :get,
                    :with => "'name=' + value +'&number=' + $('#number').val() + '&reg_num='+$('#reg_num').val()"
                  ) %> 
                  
<%= observe_field(:number, :frequency => 0.5,
                    :before => "jQuery('#spinner').show();",
                    :success => "jQuery('#spinner').hide();",
                    :url => patient_search_pms_appointments_url,
                    :method => :get,
                    :with => "'name=' + $('#name').val() +'&number=' + value + '&reg_num='+$('#reg_num').val()"
                  ) %> 
                  
<%= observe_field(:reg_num, :frequency => 0.5,
                    :before => "jQuery('#spinner').show();",
                    :success => "jQuery('#spinner').hide();",
                    :url => patient_search_pms_appointments_url,
                    :method => :get,
                    :with => "'name=' + $('#name').val() +'&number=' + $('#number').val() + '&reg_num='+value"
                  ) %> 
                  
                                                   
