<% content_for :left_header do -%>
   Listing appointments &nbsp; &nbsp; <%= link_to image_tag('add.png'), new_pms_appointment_path %> <%= link_to "Create new", new_pms_appointment_path %>
<%end-%>

  <%= render :partial=> 'filters'%>

  <%= link_to_remote "#{image_tag('/images/img/list_view.png')} Show appointments as list", :url =>{ :controller => "/pms/appointments" ,:action =>"index" ,:tab => false },:method =>:get %>  &nbsp; or &nbsp; 
  <%= link_to_remote "#{image_tag('/images/img/tablular_view.png')} Show appointments in table",:url =>{ :controller => "/pms/appointments" ,:action =>"index" ,:tab => true },:method =>:get %>
  <br />

  <div id='appointment-list'>
     <%=render :partial=> 'appointments_list'%>
  </div>

