
   <% content_for :header do -%>
     Creating new appointment
   <% end %>

   <% form_for :appointment, :url => pms_appointments_path, :html => {:id => 'main_form'} do |f| %>
      <%= error_messages_for 'appointment', 'patient' %>
      <div id = 'apointment_left' class = 'left'>
        <%=render :partial => 'appointment_fields', :locals => {:f => f} %>
      
        <div id="calendar_display">
           <h4 class='heading'> Select appointment date <h4>
           <hr />
           <div id="datepicker"></div>
           <br />
           <%= text_field_tag 'date' %>
        </div>
        <div class = 'clear'> </div>
      </div>

      <div id="main_schedules" class = 'right'>
         <h4 class='heading'> Schedules of the selected doctor <h4>
         <hr />
         <%= render :partial => 'schedules' %>
     </div>
     <div class = 'clear'> </div>
      <hr />
      <button>Book appointment</button> or <%= link_to 'Cancel and return to appointment list', pms_appointments_path %>
   <% end %>
 
   

   


