<% form_for :appointment, :url => pms_appointments_path, :html => {:id => 'main_form'} do |f| %>
   <div class="continer">
     <%= error_messages_for 'appointment', 'patient' %>
     <div id="new-booking">

     	<div class='head'>Enter Appointment Details</div>
        <hr />
        <%=render :partial => 'appointment_fields', :locals => {:f => f} %>
<% end %>

        <div id='patient_search' style="display:none">
           <%=render :partial => 'patient_search'%>
        </div>

     </div> <!--new booking-->
     
     <div id="main-schedules">
         <div class='head'>Doctor's Schedules  <%= link_to_remote  "Getit" ,  :url => pms_appointments_url,:method => :get,:with => "'date=' + $('date').value+'&doctor=' + $('appointment_doctor_id').value"  %> </div> 
      
         <hr />
         <%= render :partial => 'schedules' %>
     </div>
  </div>


