<% form_for :appointment, :url => pms_appointments_path, :html => {:id => 'main_form'} do |f| %>
   <div class="continer">
     <%= error_messages_for 'appointment', 'patient' %>
     <div id="new-booking">

     	<div class='head'>Enter Appointment Details</div>
        <hr />
        <%=render :partial => 'appointment_fields', :locals => {:f => f} %>
<% end %>

        <div id='patient_search' style="display:none">
           <%=render :partial => 'patient_search'%>
        </div>

     </div> <!--new booking-->
     
     <div id="main-schedules">
         <div class='head'>Doctor's Schedules &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= link_to_remote "Getit" ,:url => {:controller => "/pms/appointments/" ,:action =>:index ,:doctor => 2,:date => "2009/07/24" } %> </div> 
      <!--  <%= link_to_remote "Getit" ,:url => pms_appointments_path(:doctor => 2,:date => "2009/07/24" ) %> -->
         <hr />
         <%= render :partial => 'schedules' %>
     </div>
  </div>


