      <div class ='left part1'>
        <% for test in @lab_services %>
          <p><%=image_tag('pointer.gif', :border => 0) %> &nbsp;
            <%= link_to_remote("#{test.name}",
                               :before => "jQuery('.spinner#{test.name}').show()",
                               :success => "jQuery('.spinner#{test.name}').hide()",
                               :url => @prescription.blank? ? new_laboratory_prescription_url() : edit_laboratory_prescription_url(@prescription),
                               :method => 'get',
                               :with => "'department='+ #{test.department_id} + '&test_id='+ #{test.id} + '&appointment=' + #{@appointment.id}") %>

             <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :class => "spinner#{test.name}",
              :style =>"display: none;" ) %>
           </p> 
         <div id = 'test_<%= test.id %>'> </div>
        <% end %>
      </div>

      <div class ='left part2'>   
        <p><%=image_tag('pointer.gif', :border => 0) %> &nbsp;
           <%= link_to_remote("Pharmacy prescription" ,
                            :before => "jQuery('#spinner1').show()",
                            :success => "jQuery('#spinner1').hide()",
                            :url => { :controller =>'/cms/pharmacy_prescriptions' ,:action => :new } ,
                            :method => :get,
                            :with => "'appointment_id='+ #{@appointment.id}")%>

           <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %>
         </p> 

         <% @departments.each do |dept| %>
           <% unless (dept.dept_name.upcase =~ /LAB/ or dept.dept_name.upcase =~ /PHAR/) %>
              <% for service in dept.services %>
                 <p><%=image_tag('pointer.gif', :border => 0) %> &nbsp;
                    <%= link_to_remote("<b>#{service.name}</b> Prescription",
                               :before => "jQuery('#spinner').show()",
                               :success => "jQuery('#spinner').hide()",
                               :url => @prescription.blank? ? new_cms_prescription_url() : edit_cms_prescription_url(@prescription),
                               :method => 'get',
                               :with => "'department='+ #{service.department_id} + '&test_id='+ #{service.id} + '&appointment=' + #{@appointment.id}") %>                </p>
                  <div id = 'service_<%= service.id %>'> </div>
               <% end %>
            <% end %>

         <% end %>
       </div>
       <div class ='clear'> </div>
       <hr />
        <div id = 'prescription-list'>
            <%= render :partial => '/laboratory/prescriptions/prescreptions' %> 
        </div>
        <br />
        
        <div id = 'other-prescription-list'>
           <%= render :partial => '/cms/prescriptions/prescreptions' %> 
        </div>
