<% content_for :left_header do -%>
   New message
<%end-%>

<% form_for(@message,:html => {:id => 'main-form'}) do |f| %>
  <%= f.error_messages %>	
<div class = "left part1">
          <p><%= f.select :id, all_messages, options={:prompt => 'Select saved message'}%></p>
          <%= image_tag("spinner.gif",
               	    :border => 0,
                    :id => "spinner",
                    :style =>"display: none;" ) %> </p> 
     
         <p><%= f.text_area :message_body, :class => 'textbox' %> </p>
        <p><span id="counter"></span>&nbsp; characters left to complete one message.</p>
        

     
  <p>
    <div class = 'clear'> </div>
    <%= f.submit 'Send SMS' %>
  </p>
<% end %>
</div>

    <%= observe_field("admin_message_id", :frequency => 1,
                  :before => "jQuery('#spinner').show();",
                  :success => "jQuery('#spinner').hide();",
                  :url => {:action=>'render_message_template'}, :method => :get,
                  :with => "'admin_message_id=' + value")%>

  
<div class = "left part2">
   <p><%= select:contact_group, "contact_group", [['Select group', '']] + all_contact_groups %> or </p>

        <div id = 'contact'>
          <%=render :partial => "mobile_number"%> 
        </div>

	<%= image_tag("spinner.gif",
               	    :border => 0,
                    :id => "spinner1",
                    :style =>"display: none;" ) %>
 
        <p><div id = 'contact-number'> </div></p>

</div>


         <%= observe_field("contact_group_contact_group", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();
                               jQuery('#contact').hide();",
                  :url => {:action=>'render_contact_list'}, :method => :get,
                  :with => "'contact_group_contact_group=' + value")%>

   <div class = 'clear'> </div>

   <script type="text/javascript">
    jQuery(document).ready(function()
     {
     $('#admin_message_message_body').simplyCountable();
     $("#admin_message_message_body").Watermark("Type your message here or select from saved messages above.");
     });
  </script>

