<div class='continer'>
<h2>Editing department</h2>
<% form_for(:department, :url=> pms_department_url(@department),:html=>{:method=>:put}) do |f| %>
  <%= f.error_messages %>

  <table class="form-table">
    <tr> <th><%= f.label :department_name %> </th><td> <%= f.text_field :dept_name, {:class => 'textbox'} %> </td></tr>
   
    <tr> <th><%= f.label :description %></th><td> <%= f.text_field :description, {:class => 'textbox'} %> </td></tr>
    <tr> <th><%= f.label :system_defined %></th><td><%= f.text_field :system_defined, {:class => 'textbox'} %></td></tr>
   </table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', pms_department_path(@department)%> |
<%= link_to 'Back', pms_departments_path %>
</div>
