<div class='continer'>
  <div class='continer-inner'><br />
<h2>New department</h2>
  <br /><br />
<% form_for :department,:url => pms_departments_url do |f| %>
  <%= f.error_messages %>
  <table class="form-table">
    <tr> <th><%= f.label :department_name %> </th><td> <%= f.text_field :dept_name, {:class => 'textbox'} %> </td></tr>
    <tr> <th><%= f.label :description %></th><td> <%= f.text_field :description, {:class => 'textbox'} %> </td></tr>
    <tr> <th><%= f.label :system_defined %></th><td><%= f.text_field :system_defined, {:class => 'textbox'} %></td></tr>
   </table> <br />
   <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
<br /> 
<%= link_to 'Back', pms_departments_url %>
</div>
</div>
