<div class='continer'>
  <div class='continer-inner'>
<h2>New department</h2>
<% form_for :department,:url => pms_departments_url do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :department_name %><br />
    <%= f.text_field :dept_name, {:class => 'textbox'} %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description, {:class => 'textbox'} %>
  </p>
  <p>
    <%= f.label :system_defined %><br />
    <%= f.text_field :system_defined, {:class => 'textbox'} %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pms_departments_url %>
</div>
</div>
