<h2>Listing departments</h2>

<table class="listing">
  <tr>
    <th><%= remote_order_by_link(:dept_name,:text =>"Deptartment Name") %></th>
    <th><%= remote_order_by_link(:abbrevation,:text =>"Abbrevation") %></th>
    <th><%= remote_order_by_link(:description,:text =>"Description") %></th>
    <th>System defined</th>
    <th>Show| Edit| Delete</th>
  </tr>

<% for department in @departments %>
  <tr>
    <td><%=h department.dept_name %></td>
    <td><%=h department.abbrevation %></td>
    <td><%=h department.description %></td>
    <td><%=h department.system_defined %></td>
    <td>&nbsp;&nbsp;<%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), department_path(department) %> &nbsp; &nbsp;| &nbsp;&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_department_path(department) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to image_tag('delete.png', {:title => 'delete', :border => 0}), department_path(department), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>

<tr class="table-footer">
  	<td colspan = 1><%= link_to "<span>New department</span>", new_department_path, :class=> "button" %></td>
        <td colspan = 1><%= remote_per_page_select %></td>
        <td colspan = 1>
         <% form_tag(departments_url, :method => :get, :id => "goto") do %>
             <% fields_for @search do |f|%>
                     <%= f.text_field :page, :class => 'textbox-tiny' %></td>
             <%end%>
         <%end%>


        </td>
         <td colspan = 3> <% unless @departments.blank? %>
                             <div class="pagination">
                                <%= remote_page_links %>
                             </div>
                           <% end %>
         </td>
  </tr>


<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner1",
              :style =>"display: none;" ) %>

<%= observe_form("goto", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => departments_url, :method => :get) %>




</table>

<br />
