<div class='continer'>
<h2>Editing department</h2>
<% form_for(:department, :url=>department_url(@department),:html=>{:method=>:post}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :dept_name %><br />
    <%= f.text_field :dept_name %>
  </p>
  <p>
    <%= f.label :abbrevation %><br />
    <%= f.text_field :abbrevation %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :system_defined %><br />
    <%= f.text_field :system_defined %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', department_path(@department)%> |
<%= link_to 'Back', departments_path %>
</div>
