<div class='continer'>
<%form_for([:laboratory, @prescribed_test,  @laboratory_report],  :html => { :method => :put }) do |f| -%>

  <%= f.error_messages %>
    <table class="clinical-table">
     <tr> <th>Test Name : </th>
          <th>Patient Name :</th>
          <th> Patient Age :</th>
          <th> Patient Gender :</th>
          <th>Hospital No :</th>
          <th> PVR No :</th>
     </tr>
     <tr>
          <td> <%=h @lab_test.name %> </td>
          <td> <%=h @patient.patient_name %> </td>
          <td> <%=h calculate_age(@patient.dob) %> </td>
          <td> <%= @patient.gender %> </td>
          <td> <%= @patient.reg_no%> </td>
          <td><%=h @appointment.patient.id%> </td>
     </tr>

  </table><br/>
  
  <table class="report-create">
     <tr> <th>  Parameter Name </th>
          <th> UOM </th>
          <th> Result </th>
          <th> Remarks </th>
          <th> Details </th>
     </tr> 
	 <tr><td colspan=5></td></tr>
       <% for spec in @specifications %>
         <% unless spec.parameter.value_type == 'Header' %>
           <tr class="<%= cycle('odd', 'even')%>">
           	  <% parameter = spec.parameter %>
           	  <td><b><%= parameter.parameter_name %></b></td>
              <td><%= parameter.measurement_unit.name %></td>
               <% test_result = laboratory_test_result(@laboratory_report.id, spec.id ) %>
               <% result = test_result.result unless test_result.blank? %>

              <% if parameter.value_type == 'Multiple' %>
                 <td><%= select "specifications[ids]", "#{spec.id}", parameter.values.nil? ? [] : parameter.values, :selected => result %></td>
              <% elsif parameter.value_type == 'Numeric'%>
                 <td><%= text_field_tag "specifications[ids][#{spec.id}]", result.blank? ? '0.0' : result, :class => 'textbox' %></td>
               <%else%>
                 <td><%= text_field_tag "specifications[ids][#{spec.id}]", result.blank? ? ' ' : result, :class => 'textbox' %></td>
               <%end%>
                 <td><%= text_area_tag "specifications[remarks][r_#{spec.id}]", test_result.blank? ? ' ' : test_result.remarks, :class => 'textbox' %></td>
                 <td><%= link_to 'Details', details_laboratory_laboratory_test_results_url(:patient_id => @patient.id, :specification_id => spec), :rel=> "facebox" %></td>
            </tr>
       <%else%>
            <tr class='header'><td  colspan=5><b><%= spec.parameter.parameter_name %></b></td> </tr>
       <%end%>
     <%end%>

    </table> <br/><br/><br/>

    <table cellpadding="5px" class="form-table">
      <tr  class='table-top'><td colspan =2>Prescription Action Details </td>
      <tr> <th> Date of Action  :</th> <td><%= calendar_date_select_tag "laboratory_report[date_of_action]", Date.today , :class =>'textbox' %></td></tr>
      <tr> <th> Time of Action  :</th> <td><%= f.time_select  :time_of_action%></td></tr>
      <tr> <th> Action Taken By : <% laboratory_doctors = laboratory_docator_list() %> </th> <td>
       <%= select :laboratory_report,"action_taken_by_id",[['Select Doctor' , '']] + laboratory_doctors  %> </td> </tr>
      <tr> <th> Authorised By : </th> <td>
       <%= select :laboratory_report,"authorised_by_id",[['Select Doctor' , '']] + laboratory_doctors   %>
       </td> </tr>
      <tr> <th> Desscription :</th> <td> <%= f.text_field :description ,:class => 'address' %> </td> </tr>
    </table>

<br/><br/>

<%= f.hidden_field :appointment_id , :value =>  @appointment.id %>
<%= f.hidden_field :prescription_id , :value =>  @prescription.id %>
<%= f.hidden_field :service_id , :value =>  @lab_test.id %>

<%= submit_tag "save" %>

<% end %>

<%= link_to 'Back', laboratory_prescriptions_url %>

</div>
