<div class='continer'>
<% form_for([:laboratory, @prescribed_test,  @laboratory_report]) do |f| %>

  <%= f.error_messages %>
  <br />
  <table class="clinical-table">
     <tr> <th>Test Name : </th>
          <th>Patient Name :</th>
          <th> Patient Age :</th>
          <th> Patient Gender :</th>
          <th>Hospital No :</th>
          <th> PVR No :</th>
     </tr>
     <tr>
          <td> <%=h @lab_test.name %> </td>
          <td> <%=h @patient.patient_name %> </td>
          <td> <%=h calculate_age(@patient.dob) %> </td>
          <td> <%= @patient.gender %> </td>
          <td> <%= @patient.reg_no%> </td>
          <td><%=h @appointment.patient.id%> </td>
     </tr>
  </table>
  
  <table class="report-create">
     <tr> <th>  Parameter Name </th>
          <th> UOM </th>
          <th> Result </th>
          <th> Remarks </th>
          <th> Details </th>
     </tr>
	 <tr><td colspan=5></td></tr>
     <% for spec in @specifications %>
       <% unless spec.parameter.value_type == 'Header' %>
	   
           <tr class="<%= cycle('odd', 'even') %>">
           	  <td><b><%= spec.parameter.parameter_name %></b></td>
              <td><%= spec.parameter.measurement_unit.name %></td>

              <% if spec.parameter.value_type == 'Multiple' %>
                 <td ><%= select "specifications[ids]", "#{spec.id}", multivalues(spec.parameter) %></td>
              <% elsif spec.parameter.value_type == 'Numeric'%>
                 <td><%= text_field_tag "specifications[ids][#{spec.id}]", '0.0', :class => 'textbox' %></td>
               <%else%>
                  <td><%= text_field_tag "specifications[ids][#{spec.id}]", '', :class => 'textbox' %></td>
              <%end%>

              <td><%= text_area_tag "specifications[remarks][r_#{spec.id}]", display_parameter_specification(@lab_test.id,spec.parameter_id), :class => 'textbox' %></td>
              <td><%= link_to 'Details', details_laboratory_laboratory_test_results_url(:patient_id =>@patient.id,:specification_id => spec), :rel=> "facebox" %></td>
           </tr>

       <%else%>
           <tr>
           	   <td  colspan=5 class= 'header'>
           	   	 <%= spec.parameter.parameter_name %>
				  <%= hidden_field_tag "specifications[ids][#{spec.id}]" %>
			   </td> 
		   </tr>
       <%end%>
     <%end%>

    </table> <br/><br/><br/>

    <table class="form-table">
      <tr  class='table-top'><td colspan =2>Prescription Action Details </td>
      <tr> <th> Date of Action  :</th> <td><%= calendar_date_select_tag "laboratory_report[date_of_action]", Date.today , :class =>'textbox' %></td></tr>
      <tr> <th> Time of Action  :</th> <td><%= f.time_select  :time_of_action%></td></tr>
      <tr> <th> Action Taken By : </th> <td>
       <%= select :laboratory_report,"action_taken_by_id",[['Select Doctor' , '']] + Doctor.doctors_list %> </td> </tr>
      <tr> <th> Authorised By : </th> <td>
       <%= select :laboratory_report,"authorised_by_id",[['Select Doctor' , '']] + Doctor.doctors_list %>
       </td> </tr>
      <tr> <th> Desscription :</th> <td> <%= f.text_field :description ,:class => 'address' %> </td> </tr>
    </table>

<br/><br/>

<%= f.hidden_field :appointment_id , :value =>  @appointment.id %>
<%= f.hidden_field :prescription_id , :value =>  @prescription.id %>
<%= f.hidden_field :lab_test_id , :value =>  @lab_test.id %>

<%= image_submit_tag "create.gif" %>

<% end %>

<%= link_to 'Back', :controller =>:laboratory_prescriptions ,:action =>'index'%>

</div>
