
	<h2><%= "Master"%></h2>
	<li><%= link_to "Department", departments_url %></li>
        <li><%= link_to "Doctor", doctors_path %></li>
        <li><%= link_to "Appointment", appointments_url %></li>
        <li><%= link_to "Patient", patients_url %></li>
