<% form_tag(cms_patients_url, :method => :get, :id => "search_form") do %>
   <table class="search-table">
     <tr>
       <% if admin? %>
         <th><%=label_tag 'Doctor:'%></th>
       <% end %>
        <th><%=label_tag 'Appointment date:'%> </th>
       <th><%=label_tag 'Patient name:'%></th> <th><%=label_tag 'Registration No:'%></th>
       <th> Reset </th>
     </tr>
     <tr>
        <% fields_for @search do |f|%>
          <% f.fields_for @search.conditions do |p| %>
     				<% if admin? %>
     			  	<td><%=  p.select :doctor_id ,  [['Select doctor' , '']] + Doctor.doctors_list, :class =>'select-list' %></td>
     			   <% end %>
       		  <td><%= p.calendar_date_select :appointment_date_like, :class =>'textbox-small' %> </td>
        		   <% p.fields_for p.object.patient do |patient| %>
                <td> <%= patient.text_field :patient_name_like, :class => 'textbox-small' %></td>
               <td> <%= patient.text_field :reg_no_like, :class => 'textbox-small' %> </td>
             <% end %>
          <input class="textbox-small" id="search_conditions_state_is" name="search[conditions][state_is]"  value="visited" type="hidden">
       		  <td> <input type="reset" value="Reset"> </td>
       	 <% end %>
       <% end %>
	 </tr>
  </table>
<% end %>

  <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
<%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => cms_patients_url, :method => :get) %>
                 
