<%unless @appointments.blank?%>
  <%form_tag (discharge_cms_doctor_patients_path(current_user.id), :method=>:post )do %>
  <table class="listing">
      <thead>
      <tr>
        <th></th>
        <th><%= remote_order_by_link({:patient => :reg_no} , :text => "Hospital No.") %></th>
        <th><%= remote_order_by_link(:id , :text => "PVR No.") %></th>
        <th><%= remote_order_by_link({:patient => :patient_name} , :text => "Patient name") %></th>
        <%if admin?%> <th><%= remote_order_by_link ({:doctor => {:doctor_profile => :name}} , :text => "Doctor name") %></th><%end%>
        <th> Date </th>
        <th><%= remote_order_by_link({:reason => :name }, :text => "Reason") %></th>
        <th>Clinical screen</th>
        <th>History</th>
        <th>Discharge</th>
      </tr>

    <%for appointment in @appointments %>
     <tr id = <%=row_class(appointment.state)%> >
         <td><%= check_box_tag("appointment[]", appointment.id, false,:id=>appointment.id)%></td>
         <td><%=h appointment.patient.reg_no %></td>
         <td><%=h appointment.id%></td>
         <td><%=h appointment.patient.patient_name%></td>
         <%if admin?%> <td><%=h appointment.doctor.doctor_profile.name %></td> <%end%>
         <td><%=h Time.parse(appointment.appointment_date.to_s).strftime("%d-%m-%y") %></td>
         <td><%=h appointment.reason.name%></td>
         <td><%= link_to 'Clinical screen', new_cms_appointment_clinical_screen_path(appointment)%></td>
         <td><%= link_to "History", {:action=>"show", :controller=>"cms/patient_histories",:id => appointment.patient.id } %>
         <td><%= link_to "Discharge", discharge_cms_doctor_patients_path(current_user.id, :a => appointment.id), :method => :post unless appointment.recommend_for_discharge?%>
        </td>
       </tr>
     <%end%>
<%end%>
</table>
<table class='table-bottom'>
    <tr class="table-footer">

       <td colspan = 2> <%= remote_per_page_select %></td>
        <td colspan = 2> <% form_tag(cms_patients_url, :method => :get, :id => "goto") do %>
                                        <% fields_for @search do |f|%>
                                          <%= f.text_field :page, :class => 'textbox-tiny' %>


                                       <%end -%>
                                     <%end-%>


        </td>
       <td colspan=6> <% if @appointments.size > 1 %>
                          <div class="pagination">
                                <%= remote_page_links %>
                          </div>
                          <%end%>
         </td>
     </tr>


    </table>

   <br/>
<%else%>
 No Records Found.
 <%end%>
     <%= observe_form("goto", :frequency => 1,
                 :before => "jquery('#spinner').show()",
                 :success => "jquery('#spinner').hide()",
                 :url => cms_patients_url, :method => :get) %>
