<div class='continer'>

  <h3 class = 'head'> Listing Patients  </h3>
  <%=render :partial=> '/cms/patients/filters'%>

  <br />
  <div>
   <%form_tag (discharge_cms_patients_path, :method=>:post )do %>
    <table id='reason-display'>
     <tr>
       <td>Discharge patients visited on:&nbsp;&nbsp;</td>
       <td><%= calendar_date_select_tag "date", Date.today , :class =>'textbox' %></td>
       <td><%= submit_tag"Discharge" %></td> <td> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </td>
            <td>Prescribed:  &nbsp;</td><td style="width: 15px; border: #ddd 1px solid; background: #ECF7FF"> </td> <td> &nbsp; </td>
            <td>Discharge Recommended:  &nbsp; </td><td style="width: 15px; border: #ddd 1px solid; background: #F1FED7"></td> <td> &nbsp;  &nbsp; &nbsp; </td>
        </tr>
     </table>
   <%end%>
   </div>
   <%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => pms_appointments_url, :method => :get) %>


  <!-- Ajax search result indicator -->
  <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>


  <div id='appointment-list'>
     <%=render :partial=> 'patient_list'%>
  </div>
  <br />

</div>
