<% content_for :header do -%>
   Edit contact groups
<%end-%>
<% form_for([:admin,@contact_group],:html => {:id => 'main-form'}) do |f| %>
<%= f.error_messages %>
<p>
   <%= f.label :name %><br />
   <%= f.text_field :name %>
</p>
	<table class ='listing'>
		<tr>
		<th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'/></th>
     		<th>Name</th>
			<th>Number</th>
		</tr>
 		<%@group_contacts.each do |group_contact|%>
		<tr>
    		  <td><%= check_box_tag("contacts[]", group_contact.id, true,:id=> group_contact.id)%></td>
   			  <td><%= h group_contact.name%></td>
			  <td><%= h group_contact.contact_number%></td>
		</tr>

	   		<%end%>
  		<%@non_group_contacts.each do |non_group_contact| %>
  		<tr>
      		  <td><%= check_box_tag("contacts[]", non_group_contact.id, false,:id=> non_group_contact.id)%></td>
    		   <td><%=h non_group_contact.name %></td>
    		   <td><%=h non_group_contact.contact_number%></td>
		</tr>
    		<%end%>
	</table>
	<p>
		<%= f.submit 'Update' %>
  	</p>
<% end %>

