<% content_for :left_header do -%>
   New contact group
<%end-%>

<%  form_for([:admin,@contact_group],:html => {:id =>'main-form'}) do |f| %>
<%= f.error_messages %>
 		<p>
   		 <%= f.label :Name %><br />
    	 <%= f.text_field :name %>
  		</p>
		<br />
   		<table class = "listing">
    		<label>Choose contacts from below list</label> 	
			<tr>
			 <th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'/></th>
     			<th>Name</th>
				<th>Number</th>
			</tr>
  
   			<%@contact_lists.each do |contact| %>
  			<tr>
       			<td><%= check_box_tag("contacts[]", contact.id, false,:id=> contact.id)%></td>
    			<td><%=h contact.name %></td>
				<td><%=h contact.contact_number%></td>
			</tr>	
    		<%end%>
		</table>
    	
    		<%= f.submit 'Create' %> or <%=link_to "Back",admin_contact_groups_path%>
  		
  	

	

<% end %>

