<% form_tag(appointments_url, :method => :get, :id => "search_form") do %>
   <table class="search-table">
     <tr>
       <th>Patient name:</th> 
       <th>Registration No:</th>
       <th>Registration Date:</th> 
       <th>Phone No:</th>
     </tr>
     <tr>
        <td><%= text_field_tag ('pname', '', :class => 'textbox') %></td>
        <td><%= text_field_tag ('rnum', '', :class => 'textbox') %></td>
        <td><%= calendar_date_select_tag "rdate", '' , :class =>'textbox' %></td>
        <td><%= text_field_tag ('phone', '', :class => 'textbox') %></td>
     </tr>
  </table>
<% end %>	
	 
<%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => appointments_url, :method => :get) %> 
