<% form_tag(patients_url, :method => :get, :id => "search_form") do %>
   <table class="search-table">
     <tr>
       <th>Patient name:</th>
       <th>Registration No:</th>
       <th>Registration Date:</th>
       <th>Phone No:</th>
       <th> Registrated/UnRegistrated </th>

     </tr>
     <tr>
      <%fields_for @search do |f|%>
        <% f.fields_for @search.conditions do |p| %>
           <td><%= p.text_field :patient_name_like, :class => 'textbox' %></td>
           <td><%= p.text_field :reg_no_like, :class => 'textbox' %></td>
           <td><%= p.calendar_date_select :reg_date_like , :class =>'textbox' %></td>
           <td><%= p.text_field :contact_no_like, :class => 'textbox' %></td>
           <td> <%= p.select :reg_no_is_nil , {'Register '=> false, 'Unregister'=> true},options ={:prompt => "  Select "} %>  </td>

        <%end%>
      <%end%>

     </tr>
  </table>
<% end %>

<%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => patients_url, :method => :get) %>
