<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>



<table class="listing">
  <tr>
    <th></th>
    <th><%= remote_order_by_link :reg_date %></th>
    <th><%= remote_order_by_link :reg_no %></th>
    <th><%= remote_order_by_link :patient_name %></th>
    <th>Age</th>
    <th><%= remote_order_by_link :dob %></th>
    <th>Spouse name</th>
    <th>Address</th>
    <th>Contact no</th>
    <th>Show| Edit| Delete</th>
  </tr>

<% for patient in @patients %>
  <tr class="<%= cycle('odd', 'even') %>">
 <td class='radio-column'><%=radio_button_tag ('patient', patient.id, checked = false, options = {:onclick => "$('main_form').patient_id.value=#{patient.id};"})%></td>
    <td><%=h patient.reg_date %></td>
    <td><%= patient.reg_no.blank? ? link_to('Register', edit_patient_url(patient)) : patient.reg_no%> </td>

    <td><%=h patient.patient_name %></td>
    <td><%=h calculate_age(patient.dob) %></td>
    <td><%=h patient.dob %></td>
    <td><%=h patient.spouse_name %></td>
    <td><%=h patient.address %></td>
    <td><%=h patient.contact_no %></td>
    <td>&nbsp;&nbsp; <%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), patient_url(patient), :rel=> "facebox" %> &nbsp;&nbsp;| &nbsp;&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_patient_path(patient) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to image_tag('delete.png', {:title => 'delete', :border => 0}), patient_path(patient), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr class="table-footer">
      <td colspan = 3><%= link_to "<span>New patient</span>", new_patient_path, :class=> "button" %></td>
      <td colspan = 1>
      <% form_tag(new_appointment_path, :id => 'main_form') do -%>
       <input id="patient_id" name="patient_id" type="hidden" value=""/>

      <%=submit_tag "new appointment" %>
      <%end%>
       </td>
        <td colspan = 1>  Per page: <%= remote_per_page_select %></td>
      <td colspan = 5> <% if @patients.size > 1 %>
                          <div class="pagination">
                                <%= remote_page_links %>
                          </div>
  <% end %></td>
  </tr>
</table>
