<div class='continer'>
   <div class='continer-inner'>
      <% form_for :patient1, :url=> patient_path(@patient), :html=>{:method=>:put} do |f| %>
 	 <%= f.error_messages %> 
  	 <%= render :partial => @partail, :locals => {:f => f} %>
         <div>
           <p>
  	     <table><tr><td><%= image_submit_tag "register.gif" %></td> <td><%= link_to "<span>Patients list</span>", patients_path, :class=> "button"%> </td><td><%= link_to "<span>Cancel</span>", patients_path, :class=> "button" %></td></tr></table>
           </p>
         </div>
      <% end %>
   </div>
</div>
