<div class='continer'>
<h3>Patient Registration</h3>

<% form_for :patient,:url=>patient_path(@patient),:html=>{:method=>:put} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hospital_no %><br />
    <%= f.text_field :hospital_no %>
  </p>
  <p>
    <%= f.label :reg_date %><br />
    <%= f.date_select :reg_date %>
  </p>
  <p>
    <%= f.label :patient_name %><br />
    <%= f.text_field :patient_name %>
  </p>
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  <p>
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </p>
  <p>
    <%= f.label :spouse_name %><br />
    <%= f.text_field :spouse_name %>
  </p>
  <p>
    <%= f.label :spouse_age %><br />
    <%= f.text_field :spouse_age %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :contact_no %><br />
    <%= f.text_field :contact_no %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', patient_path(@patient)%> |
<%= link_to 'Back',patients_path %>
</div>
