 <% content_for :header do -%>
     New <%= params[:type] %>
 <% end -%>
     <% form_for (:option, :url => pms_select_option_url(@option),:html => {:method =>:put }) do |f| %>
     <%= f.error_messages %>

     <p>
       <%= f.label :name %><br />
       <%= f.text_field :name, {:class => 'textbox'} %>
     </p>
     <p>
       <%= f.label :description %><br />
       <%= f.text_field :description, {:class => 'textbox'} %>

       <table><tr><td><%= submit_tag "submit" %> or <%= link_to 'Cancel and return ', pms_select_options_path(:type =>  params[:type]) %> </td> </tr></table>
     </p>

   <% end %>

