<div class='continer'>
  <div class='continer-inner'>
<h1>Editing doctor</h1>

<% form_for :doctor,:url=>doctor_path(@doctor),:html=>{:method=>:put} do |f| %>
  <%= f.error_messages %>

 <table>
    <tr><td> <%= f.label :department_id %></td></tr>
    <tr><td> <%= f.select :department_id, [['Select department' , '']] + Department.departments_for_select_list %></td></tr>

    <tr><td><%= f.label :name %></td></tr>
    <tr><td><%= f.text_field :name, {:class => 'textbox'} %></td></tr>

    <tr><td> <%= f.label :designation %></td></tr>
    <tr><td><%= f.text_field :designation,  {:class => 'textbox'} %></td></tr>

    <tr><td><%= f.label :medical_id %></td></tr>
    <tr><td><%= f.text_field :medical_id,  {:class => 'textbox'} %></td></tr>

    <tr><td><%= f.label :working_from %></td> <td>&nbsp;</td> <td><%= f.label :working_to %> </td> </tr>
    <tr><td><%= f.select :hour, hours, :selected => 9 %> <%= f.select :minute, minutes, :selected => 30 %></td>
        <td>&nbsp;</td>
        <td><%= f.select :hour_to, hours, :selected => 9 %> <%= f.select :minute_to, minutes, :selected => 30 %></td> </tr>

    <tr><td><%= f.label :comments %></td> </tr>
    <tr><td>  <%= f.text_field :comments, {:class => 'textbox'} %></td> </tr>
  </table>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
 </div>
</div>
