<% total_bill_amount = 0 -%>
<% form_for(setup_payment(@payment), :url => pos_appointment_payments_path(@appointment)) do |f| %>
<div>
  <%= f.error_messages %>
</div>
<div>    
    <table style='width:100%;height:100%;border:1px solid black;' cellspacing='0' cellpadding='0'>
      <tr>
        <th style='border:1px solid black;text-align:center;'>Particulars</th>
        <th style='border:1px solid black;text-align:center;'>Quantity</th>
        <th style='border:1px solid black;text-align:center;'>Amount</th>
        <th style='border:1px solid black;text-align:center;'>Total Amount</th>
        <th style='border:1px solid black;text-align:center;'></th>
      </tr>
          <% counter = 0 -%>
          <% f.fields_for :payment_items do |payment_form| %>
             <tr id='payment_item_row_<%= counter -%>'>
               <td>
                 <%= payment_form.text_field :payable_name, :class => 'pos_payment_item_text' %>
                 <%= payment_form.hidden_field :payable_type %>
               </td>
               <td><%= payment_form.text_field :quantity, :size => 5, :class => 'pos_payment_item_text pos_payment_item_numeric', :onchange => 'set_bill_total();'  %></td>
               <td><%= payment_form.text_field :amount, :class => 'pos_payment_item_text pos_payment_item_numeric', :onchange => 'set_bill_total();' %></td>
               <td><%= payment_form.text_field :total_amount, :class => 'pos_payment_item_text pos_payment_item_numeric pos_payment_item_total_amount', :onchange => 'set_bill_total();' -%></td>
               <% hide_class = "style='display:none;'" if payment_form.object.payable_name.blank? -%>
               <td <%= hide_class -%> id='payment_item_reset_image_td_<%= counter -%>'><%= image_tag "img/cancel.png", :onclick => "reset_fields(#{counter});" -%></td>
               <td style="display:none;">  <%= payment_form.hidden_field :_destroy, :value => 0 %></td>              
             </tr>
             <% counter += 1 -%>
             <% total_bill_amount += payment_form.object.total_amount unless payment_form.object.total_amount.blank? -%>

           
           <% end -%>
    </table>
    <div style='text-align:right;padding:15px;'>
      <span id='total_bill_amount_span' style='font-size:22px;font-weight:bold;'>
        Total: <%= total_bill_amount -%>
      </span>
      <p>
        <%= submit_tag 'Done' -%>
      </p>
    </div>
</div>
<div style='padding:10px;'>
  <div style='float:left;width:25%;'>
    <div>
      <div id='inv_group_list' class='payment_list_set'>
      <% @inventory_groups.each do |inventory_group| -%>
        <%= button_to_function inventory_group.name, "show_items('inventory_group_#{inventory_group.id}')", :class => 'pos_group' -%>
      <% end -%>
      </div>
      <div id='department_list' style='display:none;' class='payment_list_set'>
      <% @departments.each do |department| -%>
        <%= button_to_function department.dept_name, "show_items('department_#{department.id}')", :class => 'pos_group' -%>
      <% end -%>
      </div>
    </div>
    <div>

    </div>
    <%= button_to_function '<<', "show_item_set('inv_group_list')", :class => 'pos_group_navigator' -%>
    <%= button_to_function '>>', "show_item_set('department_list')", :class => 'pos_group_navigator' -%>
  </div>
  <div style='float:right;width:70%;'>
	<div>
          <div id='inventory_list'>
            <% @inventory_groups.each do |inventory_group| -%>
              <div id='inventory_group_<%= inventory_group.id -%>' class='payment_list_items' style='display:none;'>
      	        <% inventory_group.inventory_items.each do |inventory_item| %>
	          <%= button_to_function inventory_item.name, "set_payment(this)", :payable_name => inventory_item.name, :payable_type => inventory_item.class, :amount => inventory_item.sub_unit_sale_price, :class => 'pos_group_item' -%>
	        <% end -%>
              </div>
            <% end -%>
          </div>
	  <div id='service_list'>
            <% @departments.each do |department| -%>
              <div id='department_<%= department.id -%>' class='payment_list_items' style='display:none;'>
	        <% department.services.each do |service| -%>
	          <%= button_to_function service.name, "set_payment(this)", :payable_name => service.name, :payable_type => service.class, :amount => service.cost, :class => 'pos_group_item' -%>
	        <% end -%> 
              </div>
            <% end -%>
          </div>
	</div>
  </div>
  <div style='clear:both;'></div>
</div>
<% end %>
<script>

var payment_list_pointer = <%= @prescribed_services.length + @prescribed_medicines.length -%>;

function set_payment(obj) {
  var payable_name = $(obj).attr('payable_name');
  var payable_type = $(obj).attr('payable_type');
  var amount = $(obj).attr('amount');
  $('#payment_payment_items_attributes_'+payment_list_pointer+'_payable_name').attr('value', payable_name);
  $('#payment_payment_items_attributes_'+payment_list_pointer+'_payable_type').attr('value', payable_type);
  $('#payment_payment_items_attributes_'+payment_list_pointer+'_amount').attr('value', amount);
  $('#payment_item_reset_image_td_'+payment_list_pointer).show();
  payment_list_pointer += 1;
}

function show_items(category) {
  hide_all_payment_list_items();
  $('#'+category).show();
}

function show_item_set(set) {
  hide_all_payment_list_set();
  hide_all_payment_list_items();
  $('#'+set).show();
}

function hide_all_payment_list_items() {
  var payment_list_items = $('.payment_list_items');
  for(var i=0;i<payment_list_items.length;i++) {
    $(payment_list_items[i]).hide();
  }
}

function hide_all_payment_list_set() {
  var payment_list_sets = $('.payment_list_set');
  for(var i=0;i<payment_list_sets.length;i++) {
    $(payment_list_sets[i]).hide();
  }
}

function reset_fields(row) {
  $('#payment_item_row_' + row).hide();
  $('#payment_item_row_'+row).children('td').find("input[type=hidden]").val("1");
  set_bill_total(row);
}

function set_bill_total(row) {
  var total_amt_fields = $('.pos_payment_item_total_amount');
  var total_bill_amt = 0;
  
  for(var i=0; i < total_amt_fields.length; i++) {
    //First reset all subtotal fields.
    var quantity = $('#payment_payment_items_attributes_' + i + '_quantity').val();
    var amount = $('#payment_payment_items_attributes_' + i + '_amount').val();
    
    if(quantity != '' && amount != ''){ 
      $('#payment_payment_items_attributes_' + i + '_total_amount').val(quantity * amount);
    }
    
    var amt = $(total_amt_fields[i]).attr('value')
    if(amt != '' && row != i) {
      total_bill_amt += parseFloat($(total_amt_fields[i]).attr('value'));
    }
  }

  $('#total_bill_amount_span').html("Total: " + total_bill_amt);
}

</script>
