<div class='hide-for-print'>
  <p><%= link_to_function 'Print this bill', "top.print();" -%></p>
  <p>
  Status: <%= @payment.state.blank? ? '' : @payment.state.humanize -%>
  <% if @payment.state == 'pending' -%>
    <% form_tag recieve_payment_pos_payment_path(@payment) do %>
       Debit to: <%= select_tag :debit_account_id, options_for_select(@accounts.map{|m| [m.name, m.id]}, @cash_account.id) %>
       <%= submit_tag "Recieve Payment" %>
    <% end %>
    <%= link_to 'Cancel this bill', cancel_payment_pos_payment_path(@payment), :method => :post -%>
  <% end -%>
  </p>
</div>
<div>
    <div style='text-align:center;font-size:13px;'>
      <span style='font-size:22px;'> SANTHATHI </span> <br />
      <p>
        Center for Reproductive Medicine <br />
        Near Mangalore Nursing Home. Upper Bendoor, Mangalore - 575002, INDIA. <br />
        Mobile: 9480502822 Tel.: 0824-2214650/2214660 Fax: 0824-2214660 <br />
        E-mail: santhathicrm@rediffmail.com Website: www.santhathi.org <br />
      </p>
    </div>
    <div style='text-align:center;padding-top:10px;'>
      <p>
        <span style='font-size:18px;'> CASH BILL </span> <br />
      </p>
    </div>
    <div style='padding-top:15px;'>
      <table style='width:100%;font-size:15px;'>
        <tr>
           <td>Invoice No: <%= @payment.id -%> </td>
           <td style='text-align:right;'>TIN No: 29700798131 </td>
        </tr>
        <tr>
           <td>PVR No: <%= @payment.appointment.id -%> </td>
           <td style='text-align:right;'>Date: <%= @payment.created_at.to_date.to_s -%> </td>
        </tr>
        <tr>
          <td>Registration No: <%= @payment.appointment.patient.reg_no -%></td>
          <td style='text-align:right;'>Name: <%= @payment.appointment.patient.patient_name -%></td>
        </tr>
      </table>
    </div>
    <div style='padding-top:15px;font-size:15px;'>
      <table style='width:100%;height:100%;' id='bill_items_table'>
        <tr>
          <th style='border:1px solid black;text-align:center;'>Item</th>
          <th style='border:1px solid black;text-align:right;'>Quantity</th>
          <th style='border:1px solid black;text-align:right;'>Amount</th>
          <th style='border:1px solid black;text-align:right;'>Total Amount</th>
        </tr>
             <% @payment.payment_items.each do |item| -%>
               <tr>
                 <td><%= item.payable.name -%></td>
                 <td style='text-align:right;'><%= item.quantity -%></td>
                 <td style='text-align:right;'><%= number_to_currency(item.amount, :unit => '') -%></td>
                 <td style='text-align:right;'><%= number_to_currency(item.total_amount, :unit => '') -%></td>
               </tr>
             <% end -%>
             <tr><td colspan='4' style='border-bottom:1px solid black;'></td></tr>
             <tr>
               <td colspan='4' style='text-align:right;'>Grand Total - <%= number_to_currency(@payment.total_bill_amount, :unit => 'Rs. ') -%></td>
             </tr>
      </table>
    </div>
</div>

