<h1>Saved messages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Content</th>
  </tr>

<% @saved_messages.each do |saved_message| %>
  <tr>
    <td><%=h saved_message.title %></td>
    <td><%=h saved_message.description %></td>
    <td><%=h saved_message.content %></td>
    <td><%= link_to 'Show', admin_saved_message_path(saved_message)%>|</td>
    <td><%= link_to 'Edit', edit_admin_saved_message_path(saved_message) %>|</td>
    <td><%= link_to 'Destroy', admin_saved_message_path(saved_message), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New saved message', new_admin_saved_message_path %>
