
<br/><div>
<b>&nbsp; &nbsp;  Showing Discharge Summary </b> <br/><br/>
  <% unless @discharge_summary.blank? %>
  <table class="form-table">
   <tr> <th>Preparation: </th><td><%=h @discharge_summary.preparation %> </td></tr>
   <tr><th>Complaints: </th><td><%=h @discharge_summary.complaints %></td></tr>
   <tr><th> Symptoms: </th> <td><%=h @discharge_summary.symptoms %> </td></tr>
   <tr><th> Treatment: </th><td><%=h @discharge_summary.treatment %></td></tr>
   <tr><th> Treatment result:</th><td><%=h @discharge_summary.treatment_result %></td></tr>
   <tr><th>Remarks:</th><td> <%=h @discharge_summary.remarks %></td></tr>
</table>
 <%else%>
       No Information Available for Clinical Comment
   <%end%>

</div>
