<h3>Reports  </h3>

<table class="search-table">
<tr> <th> Date </th>
     <th> Time </th>
     <th> Prescription To</th>
     <th> Prescribed By</th>
     <th> Service </th>
     <th> Follow up before </th>
     <th> Status </th>
     <th> Remarks </th><th> Report </th>
</tr>



<% unless @prescription.blank? %>
  <% unless @prescribed_tests.blank? %>
    <% for test in @prescribed_tests %>
 <tr><td> <%=h test.created_at.to_date %></td>
     <td><%=h Time.parse(test.created_at.to_s).strftime('%H:%M').to_s %></td>
     <td><%=h Department.find(@prescription.department_id).dept_name %></td>
     <td><%=h @appointment.doctor.doctor_profile.name %></td>
     <td> <%=h  test.lab_test.name %></td>
     <td> <%=h @prescription.follow_up %></td>
     <td>  </td>
     <td> <%=h @prescription.remarks  %></td>
     <td>  <%= link_to_remote "PrescribedTest" ,:url =>{:action=>"prescribed_tests", :controller=>"cms/patient_histories" ,:prescribed_test_id => test,:id => test.lab_test.laboratory_report } %></li> </td>
    </tr>
   <%end%>
   <%end%>
   <%else%>
       No Record Found Yet.
   <%end%>

</table>

<div id='prescribed_test'>
</div>
