<h3> Reports </h3>

<table class="search-table">
<tr> <th> Parameter </th>
     <th> Lab Test </th>
     <th> Time </th>
     <th> Action Taken by</th>
     <th> Authorized  By</th>
     <th> Description </th>
     <th> Result </th>
     <th> Remarks </th>
</tr>


<% unless @laboratory_reports.blank? %>

  <% for lab_report in @laboratory_reports %>
    <% for lab_test_result in lab_report.laboratory_test_results %>
   <tr>
       <td> <%=h ParameterSpecification.find(lab_test_result.parameter_specification_id).parameter.parameter_name %> </td>
       <td> <%=h LabTest.find(lab_report.lab_test_id).name%> </td>
       <td> <%=h lab_report.date_of_action %> - <%=h Time.parse(lab_report.time_of_action.to_s).strftime('%H:%M').to_s %> </td>
       <td> <%=h Doctor.find(lab_report.action_taken_by_id).name %> </td>
       <td> <%=h Doctor.find(lab_report.authorised_by_id).name %> </td>
       <td> <%=h lab_report.description %> </td>
       <td> <%=h lab_test_result.result %> </td>
       <td> <%=h lab_test_result.remarks %> </td>


   </tr>
   <%end%>
  <%end%>
<%else%>
   No Report yet.
<%end%>
