<% content_for :left_header do -%>
   Contact lists
<%end-%>

<div class = 'right'>
  <%= link_to("<span>New contact</span>", new_admin_contact_list_path, :class => 'buttonAdd')  %>
</div>

<div class ='clear'></div>

<table>
	<tr>
		
		<td>
			<% form_tag(admin_contact_lists_path, :method => :get )do %>
			<% fields_for @search do |f|%>
    		<% f.fields_for @search.conditions do |dealer| %>
       		 <span>Search:</span><%= dealer.text_field :name_like   %>
 			<%end%>
  			<%end%> 
		</td>
		<td>       
   			<%=  submit_tag "Search" %> 
				<%end%>
		</td>
        	<td>
          		<%=link_to "Reset search",admin_contact_lists_path%> 
       		</td>
	</tr>
</table>


<div id = 'contact-list'>
  <%=render :partial => "list"%>
</div>



