<% content_for :header do -%>
   New contact
<%end-%>

<table class ='form-table'>
<% form_for([:admin,@contact_list]) do |f| %>
  <%= f.error_messages %>

  <tr>
    <th>Name</th>
    <td><%= f.text_field :name %></td>
  </tr>

  <tr>
    <th>Contact number(M)</th>
    <td><%= f.text_field :contact_number %></td>
  </tr>

   <tr>
    <th>Select this contact's group</th>
    <td><%= f.select :contact_group_id, all_contact_groups, options={:prompt => 'Select group'}%></td>
  </tr>

  <tr>
    <td></td>
    <td><%= f.submit 'Create' %> | <%= link_to 'Cancel', admin_contact_lists_path %></td>
  </tr>
<% end %>

</table>

