<div id="calendar-display">
  <%= calendar_date_select_tag "date", Date.today, :embedded => true, :year_range => 100 %>
</div>

<div id="new-department">
  <table cellpadding="5px" class="form-table">           
     <tr> <th><%= f.label :department %>:</th> <td><%= select :departament, :id, [['Select department' , '']] + Department.departments_for_select_list %></td> </tr>
     <tr> <th><label>Doctor:</label></th><td><div id="doctors"><%=render :partial => 'doctors_list', :locals => {:f => f, :doctors => doctors_list} %></div></td> </tr>
     <tr> <th> <%= f.label :appointment_time %>:</th>
          <td><%= f.select :hour, hours, :selected => (@hour || 9) %> <%= f.select :minute, minutes, :selected => (@minute || 30) %></td> 
     </tr>  
     <tr> <th><label>New patient ?</label></th>
          <td><%= radio_button_tag ('new_patient_check', 'yes', checked = true, 
                                                    options = {:onclick => "Element.show('new_patient'); Element.hide('patient_search');"}) %> Yes &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;              <%= radio_button_tag ('new_patient_check', 'no', checked = false, 
                                                   options = {:onclick => "Element.show('patient_search'); Element.hide('new_patient');"}) %> No        </td> 
     </tr>
  </table>
   <br />
   <%=image_submit_tag('button.gif')%> 

  <%= observe_field(:appointment_doctor_id, :frequency => 0.5, 
                    :before => "Element.show('spinner')",
                    :success => "Element.hide('spinner')",
                    :url => appointments_url, 
                    :method => :get,
                    :with => "'doctor=' + value+'&date=' + $('date').value"
                   ) %>	 

 <%= observe_field(:date, :frequency => 0.5, 
                    :before => "Element.show('spinner')",
                    :success => "Element.hide('spinner')",
                    :url => appointments_url, 
                    :method => :get,
                    :with => "'date=' + value+'&doctor=' + $('appointment_doctor_id').value"
                   ) %>	 </div>
	    		  
<div id='new_patient'>
   <% fields_for :patient do |patient| %>		   
      <%=render :partial => 'new_patient', :locals => {:patient => patient} %>
   <% end %>	   
</div>

<input type="hidden" name="patient_id" value="">
 
