<%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
			  
<table class="listing">
  <thead>
  <tr>
    <th>No. </th>
    <th>Date</th>
    <th>Time</th>
    <th>Department</th>
    <th>Doctor</th>
    <th>Patient name</th>
    <th>Register No</th>
    <th>Gender</th>
    <th>Reason</th>
    <th>Status</th>
    <th>Visited?</th>
    <th>Details</th>
    <th NOWRAP = NOWRAP>Show| Edit | Cancel</th>
  </tr>
  </thead>
<% for appointment in @appointments %>
  <tbody>
  <tr valign="top" class="<%= cycle('odd', 'even') %>">
    <td><%=h appointment.id %></td>
    <td><%=h appointment.appointment_date %></td>
    <td><%=h Time.parse(appointment.appointment_time.to_s).strftime('%H:%M').to_s %></td>
    <td><%=h appointment.doctor.department.dept_name%></td>
    <td><%=h appointment.doctor.name%></td>
    <td><%= link_to appointment.patient.patient_name, patient_url(appointment.patient), :rel=> "facebox" %></td>
    <td><%= appointment.patient.reg_no.blank? ? link_to('Register', appointment_url(appointment, :act => 'register'), :rel=> "facebox") : appointment.patient.reg_no%> </td>
    <td><%=h appointment.patient.gender %></td>
    <td><%=h appointment.reason.name %></td>
    <td><%=h appointment.state %></td>
    <td><% if appointment.state =='new' %><%= link_to 'Confirm', appointment_url(appointment), :rel=> "facebox" %> <%end%></td>
  
    <td><%= link_to 'All appointments', patient_patient_appointments_url(appointment.patient), :rel=> "facebox" %></td>

    <td NOWRAP = NOWRAP>&nbsp;&nbsp; <%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), appointment_url(appointment), :rel=> "facebox" %> &nbsp;&nbsp;| &nbsp;&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_appointment_path(appointment) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to image_tag('delete.png', {:title => 'cancel appointment', :border => 0}), appointment_path(appointment), :confirm => 'Are you sure?', :method => :delete %></td> 
    
  </tr>
  </tbody>
<% end %>

</table>

<br />
