<h3> New patient details: </h3>
<table class="form-table">
   <tr><th> <%= patient.label :name %>: </th> <td> <%= patient.text_field :patient_name, {:class => 'textbox'} %></td></tr>
   <tr><th> <%= patient.label :age %>: </th> <td>  <%= patient.text_field :age, {:class => 'textbox'} %> </td></tr>
   <tr><th> <%= patient.label :gender %>: </th> <td>


      <%= patient.select :gender, genders, :selected => @patient.gender %>

</td></tr>

   <tr><th> <%= patient.label :contact_no %>:&nbsp; &nbsp;</th> <td> <%= patient.text_field :contact_no, {:class => 'textbox'} %></td></tr>
</table>
