<%@patient = Patient.find(patient)%>
<p>
  <b>Hospital no:</b>
  <%=h @patient.hospital_no %>
</p>

<p>
  <b>Reg date:</b>
  <%=h @patient.reg_date %>
</p>

<p>
  <b>Patient name:</b>
  <%=h @patient.patient_name %>
</p>

<p>
  <b>Age:</b>
  <%=h @patient.age %>
</p>

<p>
  <b>Dob:</b>
  <%=h @patient.dob %>
</p>

<p>
  <b>Spouse name:</b>
  <%=h @patient.spouse_name %>
</p>

<p>
  <b>Spouse age:</b>
  <%=h @patient.spouse_age %>
</p>

<p>
  <b>Address:</b>
  <%=h @patient.address %>
</p>

<p>
  <b>Contactno:</b>
  <%=h @patient.contact_no %>
</p>
