<% form_for :appointment, :url => appointment_path(@appointment),:html=>{:method=>:put} do |f| %>
  <div class="form-wrapper">
     <%= error_messages_for 'appointment', 'patient' %>
    
     <div id="new-booking">
         <h2>Editing appointment</h2>
        <%=render :partial => 'appointment_fields', :locals => {:f => f} %> 
<% end %>
	    
        <div id='patient_search' style="display:none">
           <%=render :partial => 'patient_search'%>
        </div>
		
     </div> <!--new booking-->
	
     <%= render :partial => 'schedules' %>
	  
  </div>

<script type="text/javascript">
  jQuery("#new-booking").corner("corner 20px") 
  jQuery("#main-scedules").corner("round 20px") 
</script>

<%= link_to 'Show', appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
