<div class='continer'>
  <table>
    <tr><td><h3>Appointments list</h3></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= link_to image_tag('add.png', :border => 0), new_appointment_path %></td>
        <td><%= link_to 'New appointment', new_appointment_path %></td>
    </tr>
  </table>

<table class="listing">
  <thead>
  <tr>
    <th>App No </th>
    <th>Date</th>
    <th>Time</th>
    <th>Patient name</th>
    <th>Department</th>
    <th>Doctor</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Contact no</th>
    <th>Show| Edit | Delete</th>
  </tr>
  </thead>
<% for appointment in @appointments %>
  <tbody>
  <tr valign="top" class="<%= cycle('odd', 'even') %>">
    <td><%=h appointment.id %></td>
    <td><%=h appointment.appointment_date %></td>
    <td><%=h Time.parse(appointment.appointment_time.to_s).strftime('%H:%M').to_s %></td>
    <td><%=h appointment.patient.patient_name %></td>
    <td><%=h appointment.doctor.department.dept_name%></td>
    <td><%=h appointment.doctor.name%></td>
    <td><%=h appointment.patient.age %></td>
    <td><%=h appointment.patient.gender %></td>
    <td><%=h appointment.patient.contact_no %></td>
    <td>&nbsp;&nbsp; <%= link_to image_tag('show.png', {:title => 'Show', :border => 0}), appointment_url(appointment), :rel=> "facebox" %> &nbsp;&nbsp;| &nbsp;&nbsp; <%= link_to image_tag('edit.png', {:title => 'Edit', :border => 0}), edit_appointment_path(appointment) %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to image_tag('delete.png', {:title => 'delete', :border => 0}), appointment_path(appointment), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  </tbody>
<% end %>

</table>

<br />
 <%= will_paginate @appointments %>

</div>
