<%= stylesheet_link_tag "default" %>
<div class='continer-show'>
  <h2>Showing Appointment</h2><br />	
  <table class="listing">
    <tr><th><b>Department:</b></th><td><%=h @appointment.doctor.department.dept_name %></td></tr>
    <tr><th><b>Doctor:</b></th><td><%=h @appointment.doctor.doctor_name %></td></tr>
    <tr><th><b>Name:</b></th><td><%=h @appointment.patient.patient_name %></td></tr>
    <tr><th><b>Appointment date:</b></th><td><%=h @appointment.appointment_date %></td></tr>
    <tr><th><b>Appointment time:</b></th><td><%=h @appointment.appointment_time.strftime('%H:%M').to_s %></td></tr>
    <tr><th><b>Reg no:</b></th><td><%=h @appointment.patient.reg_no %></td></tr>
    <tr><th><b>Age:</b></th><td><%=h @appointment.patient.age %></td></tr>
    <tr><th><b>Gender:</b></th><td><%=h @appointment.patient.gender %></td></tr>
    <tr><th><b>Contact no:</b></th><td><%=h @appointment.patient.contact_no %></td></tr>
  </table>


<%if @appointment.new_app? %>
  <br />
  <table>
     <tr> <td 'rowspan=2'>Confirm &</td><td> <%= button_to('Register for Individual', confirm_appointment_url(@appointment)) %></td> </tr>
     <tr> <td><%= button_to('Register for Couple', confirm_appointment_url(@appointment)) %> </td> </tr>
  </table>

<%end%>

</div>
<script type="text/javascript">
  jQuery(".continer-show").corner("corner 15px") 
</script>

