<div class='continer'>

  <%=render :partial=> '/cms/doctor_patients/filters'%>
  <br/>

  <div>
   <%form_tag (discharge_cms_doctor_patients_path, :method=>:post )do %>
    <table id=reason-display>
     <tr>
       <td>Discharge patients visited on:</td>
       <td><%= calendar_date_select_tag "date", Date.today , :class =>'textbox' %></td>
       <td><%= submit_tag"Discharge" %></td> <td> &nbsp; </td>
            <td>Discharge Recommended</td><td id='color3'></td> <td> &nbsp; </td>
            <td>Prescribed</td><td id= 'color5'></td> <td> &nbsp; </td>
        </tr>
     </table>
   <%end%>
   </div>

   <%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => pms_appointments_url, :method => :get) %>


  <!-- Ajax search result indicator -->
  <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>

  <h3 class = 'head'> Listing Patients </h3>

  <div id='appointment-list'>
     <%=render :partial=> 'patient_list'%>
  </div>
  <br />

</div>
