<div class='continer'>
  <div class='continer-inner'>
    <h1>Editing doctor</h1>

     <% form_for ([:pms, @doctor],:url=>pms_doctor_url(@doctor),:html=>{:method=>:put}) do |f| %>

       <table class="form-table">
          <tr> <th> Login : </th> <td> <%= f.text_field :login ,:class => 'textbox' %> </td></tr>
          <tr> <th> Email : </th> <td> <%= f.text_field :email ,:class => 'textbox'%>  </td></tr>
          <% f.fields_for :doctor_profile do |doctor_profile_form| %>

          <tr><th> Department</th><td> <%= doctor_profile_form.select :department_id, [['Select department' , '']] + Department.departments_for_select_list %></td></tr>

          <tr><th> Name :</th><td><%= doctor_profile_form.text_field :name, {:class => 'textbox'} %></td></tr>
          <tr><th> Designation :</th><td><%= doctor_profile_form.text_field :designation,  {:class => 'textbox'} %></td></tr>
          <tr><th> Medical : </th><td><%= doctor_profile_form.text_field :medical_id,  {:class => 'textbox'} %></td></tr>
          <tr><th>Working From :</th>
            <td><%= doctor_profile_form.select :hour, hours, :selected => (Time.parse(@doctor.doctor_profile.working_from.to_s).strftime('%H:%M').to_s.split(":").first).to_i  %>
           <%= doctor_profile_form.select :minute, minutes, :selected =>(Time.parse(@doctor.doctor_profile.working_from.to_s).strftime('%H:%M').to_s.split(":").last).to_i %> </td> </tr>

          <tr><th> Working To : </th> <td><%= doctor_profile_form.select :hour_to, hours, :selected => (Time.parse(@doctor.doctor_profile.working_to.to_s).strftime('%H:%M').to_s.split(":").first).to_i%> <%= doctor_profile_form.select :minute_to, minutes, :selected => (Time.parse(@doctor.doctor_profile.working_to.to_s).strftime('%H:%M').to_s.split(":").last).to_i %>
           &nbsp; &nbsp; <%= link_to_remote 'Configure Time Slots', :url => {:action => 'working_slots'},
             :with => "'sth='+ $('doctor_doctor_profile_attributes_hour').value + '&stm='+ $('doctor_doctor_profile_attributes_minute').value + '&eth=' + $('doctor_doctor_profile_attributes_hour_to').value + '&etm=' + $('doctor_doctor_profile_attributes_minute_to').value" %>
          </td> </tr>

          <tr><th> Comments : </th><td><%= doctor_profile_form.text_field :comments, {:class => 'textbox'} %></td> </tr>
          <%end%>
  </table>
   <br/>
<div id="working_slot">
   <%= render :partial => 'edit_working_slots' %>
</div>

   <br />

    <%= f.submit "Update" %>

<% end %>

<%= link_to 'Show', pms_doctor_url(@doctor) %> |
<%= link_to 'Back', pms_doctors_url %>
 </div>
</div>
