<div class='continer'>

<h3 class= 'head'>New doctor record</h3>


<% form_for([:pms, @doctor],:doctor, :url => pms_doctors_url )do |f| %>
<%= error_messages_for :doctor %>
  <table class ="form-table">
        <tr class ='table-top'>  <td colspan=2>Enter the login details here</td></tr>
         <tr> <th> <label> Login ID </label></th> <td> <%= f.text_field :login ,:class => 'textbox' %> </td></tr>
         <tr> <th> <label>Email </label></th> <td> <%= f.text_field :email ,:class => 'textbox'%>  </td></tr>

         <tr> <th> <label>Password </label> </th> <td> <%= f.password_field :password ,:class => 'textbox'%> </td></tr>

         <tr> <th> <label>Confirm Password </label> </th> <td> <%= f.password_field :password_confirmation ,:class => 'textbox'%></td></tr>

    <tr class ='table-top'>  <td colspan=2>Enter the personal details here</td></tr>
    <% f.fields_for :doctor_profile do |doctor_profile_form| %>

    <tr><th> <%= doctor_profile_form.label :department_id %></th>
     <td> <%= doctor_profile_form.select :department_id, [['Select department' , '']] + Department.departments_for_select_list %></td></tr>

    <tr><th><%= doctor_profile_form.label :name %></th><td><%= doctor_profile_form.text_field :name, {:class => 'textbox'} %></td></tr>

    <tr><th> <%= doctor_profile_form.label :designation %></th> <td><%= doctor_profile_form.text_field :designation,  {:class => 'textbox'} %></td></tr>

    <tr><th><%= doctor_profile_form.label :medical_id %></th> <td><%= doctor_profile_form.text_field :medical_id,  {:class => 'textbox'} %></td></tr>

    <tr><th><%= doctor_profile_form.label :working_from %></th> <td><%= doctor_profile_form.select :hour, hours, :selected => 9 %> <%= doctor_profile_form.select :minute, minutes, :selected => 30 %></td> </tr>


     <tr><th><%= doctor_profile_form.label :working_to %> &nbsp; &nbsp; </th> <td>

        <%= doctor_profile_form.select :hour_to, hours, :selected => 9 %> <%= doctor_profile_form.select :minute_to, minutes, :selected => 30 %> <%= link_to_remote 'Configure Time Slots', :url => '#' %></td> </tr>

    <tr><th><%= doctor_profile_form.label :comments %></th> <td>  <%= doctor_profile_form.text_field :comments, {:class => 'textbox'} %></td> </tr>
    <%end%>
  </table>
  <br />
  <p>
    <table> <tr><td><%= f.submit "Create Doctor Record" %></td> <td> <%= link_to 'Cancel', pms_doctors_url %> </td> </tr> </table>
  </p>
<% end %>



</div>
