<div class='continer'>
  <div class='continer-inner'>
<h2>New doctor</h2>


<% form_for([:pms, @doctor],:doctor, :url => pms_doctors_url )do |f| %>
<%= error_messages_for :doctor %>
  <table class ="form-table">

           <tr> <th> Login : </th> <td> <%= f.text_field :login ,:class => 'textbox' %> </td></tr>
         <tr> <th> Email : </th> <td> <%= f.text_field :email ,:class => 'textbox'%>  </td></tr>

         <tr> <th>Password : </th> <td> <%= f.password_field :password ,:class => 'textbox'%> </td></tr>

         <tr> <th> Confirm Password : </th> <td> <%= f.password_field :password_confirmation ,:class => 'textbox'%></td></tr>


    <% f.fields_for :doctor_profile do |doctor_profile_form| %>

    <tr><th> <%= doctor_profile_form.label :department_id %></th>
     <td> <%= doctor_profile_form.select :department_id, [['Select department' , '']] + Department.departments_for_select_list %></td></tr>

    <tr><th><%= doctor_profile_form.label :name %></th><td><%= doctor_profile_form.text_field :name, {:class => 'textbox'} %></td></tr>

    <tr><th> <%= doctor_profile_form.label :designation %></th> <td><%= doctor_profile_form.text_field :designation,  {:class => 'textbox'} %></td></tr>

    <tr><th><%= doctor_profile_form.label :medical_id %></th> <td><%= doctor_profile_form.text_field :medical_id,  {:class => 'textbox'} %></td></tr>

    <tr><th><%= doctor_profile_form.label :working_from %></th> <td><%= doctor_profile_form.select :hour, hours, :selected => 9 %> <%= doctor_profile_form.select :minute, minutes, :selected => 30 %></td> </tr>


     <tr><th><%= doctor_profile_form.label :working_to %> </th> <td>

        <%= doctor_profile_form.select :hour_to, hours, :selected => 9 %> <%= doctor_profile_form.select :minute_to, minutes, :selected => 30 %></td> </tr>

    <tr><th><%= doctor_profile_form.label :comments %></th> <td>  <%= doctor_profile_form.text_field :comments, {:class => 'textbox'} %></td> </tr>
    <%end%>
  </table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pms_doctors_url %>
</div>
</div>
