<div class='continer'>
  <div class='continer-inner'>
   <table class ="listing">
     <tr><th> Department:</th> <td><%=h Department.find(@doctor.doctor_profile.department_id).dept_name %> </td> </tr>
     <tr><th> Doctor name:</th> <td> <%=h @doctor.doctor_profile.name %> </td> </tr>
     <tr><th>Designation:</th> <td> <%=h @doctor.doctor_profile.designation %> </td> </tr>
     <tr><th>Medical:</th> <td> <%=h @doctor.doctor_profile.medical_id %> </td> </tr>
     <tr><th>Working from:</th> <td> <%=h Time.parse(@doctor.doctor_profile.working_from.to_s).strftime('%H:%M').to_s %> </td> </tr>
     <tr><th>Working to:</th> <td> <%=h Time.parse(@doctor.doctor_profile.working_to.to_s).strftime('%H:%M').to_s %></td> </tr>
     <tr><th>Comments:</th> <td> <%=h @doctor.doctor_profile.comments %> </td> </tr>
   </table>

 <br/>
<%= link_to 'Edit', edit_pms_doctor_url(@doctor) %> |
<%= link_to 'Back', pms_doctors_url %>
</div>
</div>
