
<div class='continer'>
  <div class='continer-inner'>   
    <% form_tag(doctor_appointments_url, :method => :get, :id => "search_form") do %>
    
     <table class="search-table">
        <tr>
            <th><%=label_tag 'Doctor:'%></th> <th><%=label_tag 'Appointment date:'%></th>
            <th><%=label_tag 'Appointments:'%></th> <th><%=label_tag 'Time slots:'%></th>
        </tr>
        <tr><td><%= select :doctor, :id, [['Select doctor' , '']] + Doctor.doctors_list %></td>
            <td><%= calendar_date_select_tag "date", Date.today , :class =>'textbox' %></td>
            <td><%= radio_button_tag ('filter', '1', checked = true) %></td>
            <td><%= radio_button_tag ('filter', '2', checked = false) %></td>
	</tr>
     </table>
  <% end %><br />
  <%= render :partial => 'reason_display' %>	 
  <%= observe_form("search_form", :frequency => 1,
                 :before => "Element.show('spinner')",
                 :success => "Element.hide('spinner')",
                 :url => doctor_appointments_url, :method => :get) %> 

  
  <!-- Ajax search result indicator -->
  <%= image_tag("spinner.gif",
              :align => "absmiddle",
              :border => 0,
              :id => "spinner",
              :style =>"display: none;" ) %>
  <div class='scrollable'>
    <div id='appointment_list'>
      <%= render :partial => 'appointment_list' %>
    </div>
    <br />
  </div>
  </div>
</div>
