<dl class="dropdown">
  <dt id="one-ddheader", onmouseover="ddMenu('one',1)" onmouseout="ddMenu('one',-1)">Dropdown</dt>
  <dd id="one-ddcontent", onmouseover="cancelHide('one')" onmouseout="ddMenu('one',-1)">
    <ul>
      <li><%= link_to "Departments", departments_url %></li>
      <li><%= link_to "Doctors", doctors_path %></li>
      <li><%= link_to "Appointments", appointments_url %></li>
      <li><%= link_to "New Appointment", new_appointment_url %></li>
      <li><%= link_to "Patients", patients_url %></li>
      <li><%= link_to "Reasons", select_options_url(:type => 'Reason') %></li>
    </ul>
   </dd>
</dl>

