<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'shared/head' %>
  <%= javascript_include_tag 'jquery.autocomplete', 'accounting' -%>
  <%= stylesheet_link_tag 'main', 'jquery.autocomplete'  %>
</head>

<body>
<div class="container" id="container">
   <div id="header">
     <div id="global_links">
        <%= render :partial => 'shared/global_links' %>
      </div>
      <%= render :partial => 'shared/header' %>

   </div>

   <div id="content">
      
     <div id="content_main" class="clearfix">
        <div id="dashboard" class="left">
	   <h2 class="ico_mug"> <%= yield :header %> </h2>
	   <div class="clearfix">
	      <div class="inner_wrapper"><%= render :partial => 'shared/layout_body' %></div>
	   </div>
        </div><!-- end #dashboard -->


	<div id="sidebar" class="right">
           <div class="inner_wrapper">
	    <div id='account_navigation'>
	      Accounts <br />
		<%= button_to 'Accounts', accounts_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Account Groups', account_groups_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />

		<br />
		Reports <br />
		<%= button_to 'Entries', account_transactions_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Trial Balance', trial_balance_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Day Book', day_book_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Profit and Loss', profit_and_loss_statement_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Balance Sheet', balance_sheet_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />

	      <br />
	      Accounting Vouchers <br />
		<%= button_to 'Journal Voucher', new_journal_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Receipt Voucher', new_receipt_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Payment Voucher', new_payment_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Sales Voucher', new_sales_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Purchase Voucher', new_purchase_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
		<%= button_to 'Contra Voucher', new_contra_voucher_entry_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#fed;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />

	      __________________<br /><br />
	      <%= button_to 'Close Financial Year', close_accounting_periods_path, :method => :get, :style => "color:#050;font:bold 84% 'trebuchet ms',helvetica,sans-serif;background-color:#DC9292;border:1px solid;border-color: #696 #363 #363 #696;cursor:pointer;width:150px;" %> <br />
	    </div>
           </div>
	</div><!-- end #sidebar -->

     </div><!-- end #content_main -->
   </div><!-- end #content -->

    <div id="footer" class="clearfix">
       <%= render :partial => 'shared/footer' %>
    </div>
</div><!-- end container -->
</body>
</html>

