<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>
	
	<%= stylesheet_link_merged :admin %>
  	<%= javascript_include_merged :base %>
    <%= stylesheet_link_tag 'calendar/blue/style' %>
</head>

<body>

  <div id="header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
      <div  class="animatedtabs">
         <%= render :partial => 'admin/shared/tabs' %>
      </div>

    </div>
    <h1><%= configatron.site_name %> <span><%= configatron.company_name %></span></h1>
	
  </div>

  <div id="main">
    <div id="left">
    <div id="top-left">&nbsp;</div>
     <% if flash[:notice] %>
       <div id="notice"><%= flash[:notice] %></div>
     <% end %>

     <% if flash[:warning] %>
       <div id="warning"><%= flash[:warning] %></div>
     <% end %>
     
     <% if flash[:error] %>
       <div id="error"><%= flash[:error] %></div>
     <% end %>

      <div id="screen">
        <%= yield %>
      </div>

    </div>

  </div>
  <div id="footer">
     
  </div>


</body>
</html>
