<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>

	<%=javascript_include_tag :defaults, 'facebox', 'jquery-1', 'jquery_corner', 'interface', 'dropdown' %>
        <%= calendar_date_select_includes %>
        <%= stylesheet_link_tag 'default','calendar/option2- blue/style', 'facebox', 'dropdown' %>

	<!--[if lte IE 6]>
		<%= stylesheet_link_tag 'ie6.css', media="screen" %>
	<![endif]-->
        <script type="text/javascript">
           jQuery.noConflict();
        </script>
</head>

<body>

  <div id="header">
    <div id="global_links">
      <%= render :partial => 'shared/global_links' %>
    </div>

	<!--<h1><%= configatron.site_name %></h1>-->
	<div id="menu"> <%= render :partial => 'admin/shared/tabs' %> </div>

	<div id="sub-menu"> <%= render :partial => 'admin/shared/sub_tabs' %> </div>
  </div>

  <div id="main">
    <div id="left">

     <% if flash[:notice] %>
       <div id="notice"><%= flash[:notice] %></div>
     <% end %>

     <% if flash[:warning] %>
       <div id="warning"><%= flash[:warning] %></div>
     <% end %>

     <% if flash[:error] %>
       <div id="error"><%= flash[:error] %></div>
     <% end %>

      <div id="screen">
        <%= yield %>
      </div>

    </div>
  </div>
<!--
  <div id="footer">
    <div id="footer-inner">
      Powered by iSiri Tecnologies Pvt Ltd
    </div>
  </div>
 -->
  <!--border -->
  <script type="text/javascript">
    jQuery(".continer").corner("corner 10px")
    jQuery(".continer-inner").corner("corner 10px")
    jQuery("#footer").corner("corner 5px")
    jQuery("#footer-inner").corner("corner 5px")
  </script>
</body>
</html>
