<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title><%= configatron.site_name %></title>


        <%=javascript_include_tag :defaults, 'facebox', 'jquery-1', 'jquery_corner', 'jquery-ui-1.7.custom.min', 'menu', 'jquery.cookie', 'jquery.treeview.min', 'jquery.tablednd' %>

        <%= stylesheet_link_tag 'default','calendar/option2- blue/style', 'facebox', 'menu', 'reasons', 'jquery.treeview' %>
         <%= calendar_date_select_includes %>


	<!--[if lte IE 6]>
		<%= stylesheet_link_tag 'ie6.css', media="screen" %>
	<![endif]-->
        <script type="text/javascript">
                jQuery.noConflict();
        </script>

        <script type="text/javascript">
		jQuery(function() {
			jQuery("#tree").treeview({
				collapsed: false,
				animated: "medium",
				control:"#sidetreecontrol",
				persist: "location"
			});
		})

	</script>
</head>

<body>
            <div id="global_links"> <%= render :partial => 'shared/global_links' %> </div>
	    <div id="header"> <%= render :partial => 'shared/tabs' %> </div>
 	    <div class="clear"></div>
            <div class="navigation" id="navigation">
              <div class="navPanel">
                <%= render :partial => 'shared/laboratory_sub_tabs' %>
              </div>
            </div>
            <div class="content" id="content">
               <%= render :partial => 'shared/layout_body' %>
            </div>
            <div class="clear"></div>
</body>
</html>
