<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <%= stylesheet_link_tag('login.css', :media => :screen) %>
   <%=javascript_include_tag  'js/jquery-1.3.2.min.js', 'jquery_corner', 'js/jquery-ui-1.7.1.custom.min.js' %>
</head>

<body>
  <div id="main_login">
    <div class="login">

     <% if flash[:notice] %>
       <div id="notice"><%= flash[:notice] %></div>
     <% end %>

     <% if flash[:warning] %>
       <div id="warning"><%= flash[:warning] %></div>
     <% end %>

     <% if flash[:error] %>
       <div id="error"><%= flash[:error] %></div>
     <% end %>

     <%= yield %>
     <div id="footer">
      Copyright © <%= configatron.company_name %> &nbsp;   |   &nbsp;  Powered by <%= link_to "isiri Technologies Pvt. Ltd.", "http://isiritech.com" , {:target => "_blank" }%>
  </div>
    </div>
      
  </div>

 

</body>
</html>
