<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'shared/head' %>
   
    <%= stylesheet_link_tag 'menu' %>
</head>
<body>
  <div class="container" id="container">
   <div  id="header">
     <div id="global_links">
        <%= render :partial => 'shared/global_links' %>
      </div>
     <%= render :partial => 'shared/header' %>
     <div id="top_menu" class="clearfix">
        <%= render :partial => 'shared/cms_sub_tabs' %>
     </div>
   </div>

     <div id="content" >		
       <div id="content_main" class="clearfix">
         <h2 class="ico_mug"><%= yield :header%> </h2>
           <div id="content_wrapper">
               <div class="navigation">
                  <%= render :partial => 'shared/patient_sub_tabs' %>
                 <div class="clear"> </div>
               </div>


               <div class= "content-panel">
                  <%= render :partial => 'shared/layout_body' %>
                   <div class="clear"></div>
               </div>
            <div class="clear"> </div>
         </div>
      </div> <!-- End Content -->
   </div>    <!-- End Wrapper -->

</body>


</html>
