<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= render :partial => 'shared/head' %>

</head>

<body>
<div class="container" id="container">
   <div id="header">
     <div id="global_links">
        <%= render :partial => 'shared/global_links' %>
      </div>
     <%= render :partial => 'shared/header' %>
   </div>

   <div id="content">
     <div id="top_menu" class="clearfix">
        <%= render :partial => 'shared/pms_sub_tabs' %>
     </div>

     <div id="content_main" class="clearfix">
        <div id="dashboard" class="left">
	   <h2 class="ico_mug"> <%= yield :header %> </h2>
	   <div class="clearfix">
	      <div class="inner_wrapper"><%= render :partial => 'shared/layout_body' %></div>
	   </div>
        </div><!-- end #dashboard -->


	<div id="sidebar" class="right">
	   <h2 class="ico_mug"> Searchbar </h2>
           <%= yield :sidebar %>
	</div><!-- end #sidebar -->

     </div><!-- end #content_main -->
   </div><!-- end #content -->

    <div id="footer" class="clearfix">
       <%= render :partial => 'shared/footer' %>
    </div>
</div><!-- end container -->

</body>
</html>

